<section>
  <div class="page-header">
		<img src="/modules/core/img/brand/icon_only.svg" alt="JustFix.nyc" />
		<h1>Contact Us</h1>
	</div>
	<p>If you need assistance or would like to sign up for an access code, please contact us below.</p>
  <br />
  <a  class="btn btn-success btn-block"
      href="tel:6468200349">
      <span class="glyphicon glyphicon-earphone pull-left"></span>
      (646) 820-0349
  </a>
  <br />
  <a  class="btn btn-success btn-block"
      target="_blank"
      href="mailto:hello@justfix.nyc">
      <span class="glyphicon glyphicon-envelope pull-left"></span>
      hello@justfix.nyc
  </a>
</section>
