<div data-ng-controller="FooterController">
  <div ng-if="footerLinks.length" class="footer-links">
    <div ng-repeat="link in footerLinks">
    	<a ui-sref="{{link.link}}">
        <img ng-src="{{link.icon}}" />
  			{{ link.title }}
  		</a>
    </div>
  </div>

  <div class="footer-main container">
    <ul class="list-inline">
      <li><a twitter-follow class="twitter-link" ga-event="Twitter,click,Footer"></a></li>
      <li><a href="http://www.justfix.nyc">Home</a></li>
      <li><a ui-sref="contact">Contact</a></li>
      <li><a href="http://www.justfix.nyc/our-mission">Mission</a></li>
      <li><a href="https://www.nycharities.org/give/donate.aspx?cc=4125" target="_blank" ga-event="Donate,click,Footer">Donate</a></li>
      <!-- <li><div language-select></div></li> -->
    </ul>
    <p><small><b>Disclaimer:</b> The information contained in JustFix.nyc does not constitute legal advice and must not be used as a substitute for the advice of a lawyer qualified to give advice on legal issues pertaining to housing. We can help direct you to free and/or low-cost legal services as necessary.</small></p>
  </div>
</div>
