<ul class="list-inline">
  <li><a ui-sref="home">Home</a></li>
  <li><a ui-sref="manifesto">Manifesto</a></li>
  <li><a href="https://twitter.com/JustFixNYC" target="_blank">Twitter</a></li>
  <li><a href="mailto:hello@justfix.nyc">Contact</a></li>
  <!-- <li><div language-select></div></li> -->
</ul>
<p><small><b>Disclaimer:</b> The information contained in JustFix.nyc does not constitute legal advice and must not be used as a substitute for the advice of a lawyer qualified to give advice on legal issues pertaining to housing. We can help direct you to free legal services as necessary.</small></p>