<div data-ng-controller="FooterController">
  <div ng-if="footerLinks.length" class="footer-links">
    <div ng-repeat="link in footerLinks">
    	<a ui-sref="{{link.link}}">
        <img ng-src="{{link.icon}}" />
  			{{ link.title | translate }}
  		</a>
    </div>
  </div>

  <div class="footer-main container">
    <ul class="list-inline">
      <li><a twitter-follow class="twitter-link"></a></li>
      <li><a ui-sref="home">{{'modules.core.views.footer.home' | translate}}</a></li>
      <li><a ui-sref="contact">{{'modules.core.views.footer.contact' | translate}}</a></a></li>
      <li><a href="http://www.justfix.nyc">{{'modules.core.views.footer.about' | translate}}</a></a></li>
      <li><a href="https://www.nycharities.org/give/donate.aspx?cc=4125" target="_blank" ga-event="Donate,click,Footer">{{'modules.core.views.footer.donate' | translate}}</a></li>
      <li class="language-select-wrap"><div language-select></div></li>
    </ul>
    <p ng-bind-html="'modules.core.views.footer.description' | trustTranslate" compile-template></p>
  </div>
</div>
