<div	id="header-wrapper"
		 	data-ng-controller="HeaderController"
		 	data-ng-class="{ 'inner': $root.headerInner, 'light-bg': $root.headerLightBG }">

	<div id="header">
		<div class="container">
				<a 	class="header-btn header-back pull-left glyphicon glyphicon-menu-left"
						ng-click="window.history.back()"
						ng-if="$root.showBack"></a>
				<a 	class="header-btn header-back pull-left glyphicon glyphicon-menu-left"
						ui-sref="kyr"
						ng-if="!$root.showBack && showKyrBackBtn"
				>
				<a href="/" class="header-brand">
						<!-- <div data-ng-include="'/modules/core/img/brand/logo.svg'" aria-label="justfix.nyc"/ class="logo"></div> -->
						<img ng-if="!$root.headerLightBG" src="/modules/core/img/brand/logo.png" class="logo" />
						<img ng-if="$root.headerLightBG" src="/modules/core/img/brand/logo_dark.png" class="logo" />
				</a>
				<a class="header-btn pull-right glyphicon glyphicon-cog"
					 ui-sref="admin"
					 ng-if="authentication.user && authentication.user.roles.indexOf('admin') !== -1"></a>
			 <a class="header-btn pull-right header-btn-text header-btn-main"
					 ui-sref="signin"
					 ng-if="!authentication.user && $root.state == 'landing'">{{'modules.core.views.header.signIn' | translate}}</a>
				<a class="header-btn header-home pull-right glyphicon glyphicon-th"
					 ui-sref="home"
					 ng-if="authentication.user && $root.state != 'home'"></a>
		</div> <!-- end of .container -->
	</div>	<!-- end of #header -->

</div> <!-- end of #wrapper -->
