<section data-ng-controller="HomeController" id="dashboard">

  <status-update></status-update>

  <div class="grid">
    <a class="col-xs-6 col-sm-4" ui-sref="listActions">
      <img src="/modules/core/img/sections/action.svg" alt="Take Action" />
      Take Action
    </a>
    <a class="col-xs-6 col-sm-4" ui-sref="listActivity">
      <img src="/modules/core/img/sections/history.svg" alt="Case History" />
      Case History
    </a>
    <a class="col-xs-6 col-sm-4" ui-sref="updateIssues">
      <img src="/modules/core/img/sections/issues.svg" alt="Issues Checklist" />
      Issues Checklist
    </a>
    <a class="col-xs-6 col-sm-4" ui-sref="profile">
      <img src="/modules/core/img/sections/profile.svg" alt="Profile" />
      Profile
    </a>
    <a class="col-xs-6 col-sm-4" ui-sref="home">
      <img src="/modules/core/img/sections/help.svg" alt="Find Help" />
      Find Help
    </a>
    <a class="col-xs-6 col-sm-4" ui-sref="home">
      <img src="/modules/core/img/sections/kyr.svg" alt="Know Your Rights" />
      Know Your Rights
    </a>
  </div>

  <a class="btn btn-block btn-primary" href="/auth/signout">Sign Out</a>


</section>
