<section data-ng-controller="HomeController" id="dashboard">

  <status-update></status-update>

  <alert data-ng-show="$root.dashboardSuccess" type="success" close="$root.dashboardSuccess = false"><strong>Well done!</strong> Your issue checklist has been updated. Check your <a ui-sref="listActivity">Case History</a> to see the changes.</alert>
  <alert data-ng-show="$root.dashboardError" type="danger" close="$root.dashboardError = false">We're sorry, something went wrong with updating your checklist. Please <a ui-sref="contact">Contact Us</a> to report this issue.</alert>


  <div class="grid">
    <a class="col-xs-6 col-sm-3" ui-sref="listActions">
      <img src="/modules/core/img/sections/action.svg" alt="Take Action" />
      Take Action
    </a>
    <a class="col-xs-6 col-sm-3" ui-sref="listActivity">
      <img src="/modules/core/img/sections/history.svg" alt="Case History" />
      Case History
    </a>
    <a class="col-xs-6 col-sm-3" ui-sref="updateProblems">
      <img src="/modules/core/img/sections/issues.svg" alt="Issue Checklist" />
      Issue Checklist
    </a>
    <a class="col-xs-6 col-sm-3" ui-sref="settings.profile">
      <img src="/modules/core/img/sections/profile.svg" alt="Profile" />
      Profile
    </a>
    <a class="col-xs-6 col-sm-3" ui-sref="findHelp">
      <img src="/modules/core/img/sections/help.svg" alt="Find Help" />
      Find Help
    </a>
    <a class="col-xs-6 col-sm-3" ui-sref="kyr">
      <img src="/modules/core/img/sections/kyr.svg" alt="Know Your Rights" />
      Know Your Rights
    </a>
  </div>

  <!-- <div class="section-header" ng-click="shareCollapsed = !shareCollapsed"> -->
  <div class="section-header">
    <h2>Advocate Information
      <!-- <span class="pull-right glyphicon" ng-class="shareCollapsed ? 'glyphicon-plus' : 'glyphicon-minus'"></span> -->
    </h2>
  </div>
  <!-- <div class="share-section" collapse="shareCollapsed"> -->
  <div class="share-section">
    <p class="lead"><b>
      {{ ::authentication.user.referral.name }}<br />
      {{ ::authentication.user.referral.organization }}<br />
      {{ ::authentication.user.referral.phone | tel }}<br />
      {{ ::authentication.user.referral.email }}
    </b></p>
    <div class="row share-controls">
      <a class="btn btn-success btn-block" ng-href="tel:{{authentication.user.referral.phone}}">
          Call {{ ::authentication.user.referral.name }}
      </a>
    </div>
  </div>
  <br />
  <div class="row">
    <a class="btn btn-block btn-primary" href="/auth/signout">Sign Out</a>
  </div>


</section>
