<div id="manifesto">

	<div class="page-header left">
		<h1>{{'modules.core.views.manifesto.title' | translate}}</h1>
	</div>


<p class="lead">{{'modules.core.views.manifesto.lead' | translate}}</p>

<h4>{{'modules.core.views.manifesto.mission' | translate}}</h4>
<p ng-bind-html="'modules.core.views.manifesto.missionBody' | trustTranslate" compile-template></p>

<h4>{{'modules.core.views.manifesto.problem' | translate}}</h4>
<p>{{'modules.core.views.manifesto.problemBodyOne' | translate}}</p>

<p>{{'modules.core.views.manifesto.problemBodyTwo' | translate}}</p>

<h4>{{'modules.core.views.manifesto.people' | translate}}</h4>
<p>{{'modules.core.views.manifesto.peopleBodyOne' | translate}}</p>

<p>{{'modules.core.views.manifesto.peopleBodyTwo' | translate}}</p>

<h4>{{'modules.core.views.manifesto.vision' | translate}}</h4>
<p>{{'modules.core.views.manifesto.visionBodyOne' | translate}}</p>

<p ng-bind-html="'modules.core.views.manifesto.visionBodyTwo' | trustTranslate" compile-template></p>

<h4>{{'modules.core.views.manifesto.approach' | translate}}</h4>
<p>{{'modules.core.views.manifesto.approachBodyOne' | translate}}</p>

<p ng-bind-html="'modules.core.views.manifesto.approachBodyTwo' | trustTranslate" compile-template>


<p>{{'modules.core.views.manifesto.approachBodyThree' | translate}}</p>

<h4>{{'modules.core.views.manifesto.about' | translate}}</h4>
<p ng-bind-html="'modules.core.views.manifesto.aboutBodyOne' | trustTranslate" compile-template></p>

<p ng-bind-html="'modules.core.views.manifesto.aboutBodyTwo' | trustTranslate" compile-template></p>

</div>
