<div id="manifesto">
	<h1>Manifesto</h1>

<h3>Empowering tenants to get things fixed in NYC.</h3>

<br /> <br />

<h4>Our Mission</h4>
<p>The mission of JustFix.nyc is to allow residents in exploitative and neglectful housing situations to better track, organize, and take action in order to ensure that their fundamental rights as tenants are being met. Our goal is healthy and safe homes for all. We define this as housing that has clear lines of communication between tenant and landlord, conditions that are not neglected, rights and responsibilities that are enforced, and repairs that are made within a reasonable timeline.</p>

<br />

<h4>The Problem We Are Addressing</h4>
<p>Patterns of neglect and disrepair in housing have existed in New York for almost as long as the city itself - landlords and building managers take advantage of a lack of awareness and feelings of abasement to perpetrate poorly kept living spaces. Renters in New York face a multitude of issues including maintenance deficiencies, delayed and insufficient responses, and in many cases complete neglect when it comes to the homes that they and their families rely on. We recognize that in the current state of housing policy in New York, this neglect is often incentivized in the interest of a quick profit over the need for healthy and safe homes.</p>

<p>Our process of research and investigation has led us to every aspect of how housing works in New York - city agencies, legal services, housing courts, advocates and case managers, supers and landlords, and most importantly the tenants themselves. We feel that exploitation and neglect starts with the inequity of information and awareness in these different groups and results in the imbalance of power where repairs are not made, complaints are not addressed, and harassment goes unaddressed. </p>

<br />

<h4>The People</h4>
<p>Housing is fundamentally important to a person's physical welfare as well as their sense of dignity and place in the community. It is critically important to the well being and health of children and families. It has massive financial implications: the costs associated with inadequate housing conditions are far-reaching and have a devastating effect. Poor neighborhood conditions are also often associated with a lack of personal safety and fragmenting of community, adding a major mental health component as well.</p>

<p>While this is an issue than can span across race, class, and other factors of socioeconomic status, New Yorkers living in low-income neighborhoods - typically from minority and immigrant communities - are disproportionately affected by these patterns and are at the most risk for facing other severe difficulties as a result of inadequate housing - poor health, harassment, evictions, homelessness, depression, and further levels of poverty.</p>

<br />

<h4>Our Vision</h4>
<p>One thing that we have heard repeatedly among experts, especially in terms of legal proceedings, is the effectiveness of tenants who keep track of how their interactions with their landlord - things such as records of communications, receipts, and photo documentation - and present their case in a manner that is succinct, well documented and irrefutable. It was a great day when we heard a judge tell one of our user’s that she seemed to be more qualified than her landlord’s entire legal team put together!</p>

<p>We hope to simplify the process for documenting and reporting issues, provide efficient methods of action in resolving these problems, and reduce the pressure on preexisting advocacy and case management outlets. We are here to augment, not replace by integrating with the invaluable person-to-person services already available to tenants in the city. We cannot replace advocacy, organizing, and policy work - methods that get at the root of how neglect is incentivized and targeted - but hope to add a new tactic that ensures that tenants on the ground level can actively exercise their right to healthy and safe housing.</p>

<br />

<h4>Our Approach</h4>
<p>We have seen the many different actions and resources that tenants have at their disposal in order to combat inadequate living conditions - at the neighbor-to-neighbor level all the way up to legal proceedings - as well as the bottlenecks they face along the way. We seek to provide:</p>

<ul>
<li>A single place for tenants to document and record their maintenance issues and living conditions.</li>
<li>A personalized guide to the most effective methods of action in resolving these issues.</li>
<li>A format to easily view the timeline of events that the tenant has experienced and share it with advocates, organizers, lawyers, and judges as part of the resolution process.</li>
</ul>

<p>We believe in using transparency and organization as a tactic in providing a clear, irrefutable story, backed by awareness of one’s rights, with the goal to ensure that  healthy and safe homes are guaranteed for all.</p>



</div>