<nav data-ng-controller="NavController" id="bottom-nav" class="navbar navbar-fixed-bottom" data-ng-show="authentication.user">
	<ul class="nav navbar-nav text-center">
	<li class="col-xs-4" ui-sref-active="active"><a ui-sref="listActivity">
		<span class="glyphicon glyphicon-book"></span><div>Timeline</div>
	</a></li>
	<li class="col-xs-4" ui-sref-active="active"><a ui-sref="listActions">
		<span class="glyphicon glyphicon-th-list"></span><div>To Do</div>
	</a></li>
	<li class="col-xs-4" ui-sref-active="active"><a ui-sref="listIssues">
		<span class="glyphicon glyphicon-home"></span><div>Issues</div>
	</a></li>
	</ul>
</nav>