<section data-ng-controller="AuthenticationController">

	<div class="page-header">
		<img src="/modules/core/img/brand/icon_only.svg" alt="JustFix.nyc" />
		<h1>Sign in to start using JustFix.nyc!</h1>
	</div>
	<form data-ng-submit="signin()" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="tel" id="phone" name="phone" class="form-control" data-ng-model="credentials.phone" placeholder="Phone Number" phone-input>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
    </div>
	  <div class="form-group">
	    <button class="btn btn-primary btn-block" ng-click="validateCode()" go-to-top>Sign In</button>
	  </div>
	</form>
	<div class="error-text alert alert-danger" ng-show="error">{{ error }}. Please <a ui-sref="contact">Contact Us</a> if you need assistance or forgot your password.</div>
</section>
