<section data-ng-controller="AuthenticationController">

	<div class="page-header">
		<img src="/modules/core/img/brand/icon_only.svg" alt="JustFix.nyc" />
		<h1>{{'modules.users.views.authentication.signIn.title' | translate}}</h1>
	</div>
	<form data-ng-submit="signin()" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="phone">{{'modules.users.views.authentication.signIn.phone' | translate}}</label>
      <input type="tel" id="phone" name="phone" class="form-control" data-ng-model="credentials.phone" placeholder="Phone Number" phone-input>
    </div>
    <div class="form-group">
      <label for="password">{{'modules.users.views.authentication.signIn.password' | translate}}</label>
      <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
    </div>
	  <div class="form-group">
	    <button type="submit" class="btn btn-primary btn-block" go-to-top>{{'modules.users.views.authentication.signIn.signIn' | translate}}</button>
			<a class="btn btn-link btn-block" ui-sref="contact">{{'modules.users.views.authentication.signIn.forgot' | translate}}</a>
			<a class="btn btn-link btn-block" ui-sref="onboarding.problems">{{'modules.users.views.authentication.signIn.signUp' | translate}}</a>
	  </div>
	</form>
	<div class="error-text alert alert-danger" ng-show="error">{{ error }}. <a ui-sref="contact">{{'modules.users.views.authentication.signIn.contactText' | translate}}</a>{{'modules.users.views.authentication.signIn.contactUsFinal' | translate}}</div>
</section>
