.actions-container {

  @include transition-duration(.25s);

  .btn-block {
    max-width: 300px;
    margin: 0 auto;

    &.initial {
      float: none !important;
    }
  }

}

.panel-content {
  margin-bottom: 15px;
}

.status-panel {

  .panel-content {
    @include panel-title;
  }
}


.action-panel {
  //
  // max-width: 768px;
  // margin-left: auto;
  // margin-right: auto;

  .panel-title {
    @include panel-title;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  .panel-body {
    padding-top: 0;
  }
}

.input-group {

  .form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 41px;
  }
}

.update-activity-form .btn-mult {
  margin: 2px;
}

.letter-steps {
  width: 100%;
  position: relative;
  overflow: scroll;

  @include transition(height 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000));
}

.letter-step {
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  min-height: 150px;

  &.ng-enter,
  &.ng-leave
  {
    @include transition(all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000));
  }

  &.ng-enter {
    @include transform(translateX(100%));
  }
  &.ng-enter.ng-enter-active {
    @include transform(translateX(0));
  }

  &.ng-leave {
    @include transform(translateX(0));
  }
  &.ng-leave.ng-leave-active{
    @include transform(translateX(-100%));
  }
}

.letter-step-loading {
  @include complete-center();

  p { margin-bottom: 0; }
}

.letter-step-created {

  a.text-link {
    margin-left: 10px;
  }
}
