#admin {
  .tab-content {
    background-color: #fff;
    padding-top: 20px;
  }
}

.admin-access-codes {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}
