body {
  background-color: rgb(241, 242, 246);

  &.modal-open {
    #modal-open-wrapper {
      position:relative; //that's it
      overflow:hidden;
    }
  }
}

.content {
  margin-bottom: 50px;
	// margin-top: 100px;

  // @media (min-width: $screen-xs-min) {
  //   margin-top: 130px;
  // }


  section.container {
    min-height: 300px;
  }
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.page-header {
  margin-top: 0;
  border-bottom-color: $mediumgray-light;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 35px;
  }

  p {
    margin: 10px 0 0 0;
  }

}

.btn:not(.btn-sm), .form-control {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn .glyphicon {
  padding-top: 3px;
  padding-right: 5px;
}

.modal-title {
  line-height: 1.1;
  font-weight: 100;
}

.modal-body {

  ul {
    padding-left: 30px;
    margin-bottom: 0;
  }
}

.img-thumbnail {
  border-radius: 0;  
  padding: 0;
}

.no-gutter [class*="col"] {
  padding: 0;
}


footer {
  margin-top: 75px;
}