html, body {
    overflow-x: hidden;
}

body {
  background-color: #F6F6F6;

  &.white-bg {
    background-color: #fff;
  }

  @include transition(background-color 750ms ease);
  // &.modal-open {
  //   #modal-open-wrapper {
  //     position:relative; //that's it
  //     overflow:hidden;
  //   }
  // }
}

a.text-link {
  color: $grass-dark;
  font-size: 16px;
  text-decoration: underline;

  &:active, &:focus, &:hover {
    color: $grass-light;
  }
}
.text-success {
  color: $grass-dark !important;
}
.text-danger {
  color: $grapefruit-dark !important;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
}
h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 15px;
}
h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
}
h4 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.4;
}

.content {
  // margin-bottom: 50px;
	// margin-top: 100px;

  // @media (min-width: $screen-xs-min) {
  //   margin-top: 130px;
  // }


  section.container {
    min-height: 300px;
    max-width: 768px;
  }
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: $grapefruit-dark;
}
.ng-valid.ng-dirty {
	border-color: $grass-dark;
}
label.control-label em {
  font-weight: normal;
}

.page-header {
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: none;
  small {
  	display: block;
  	text-align: center;
  }

  img {
    display: block;
    width: 35px;
    margin: 0 auto 10px auto;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  h1 {
    margin-bottom: 0;
    text-align: center;
  }

  p {
    margin: 15px 0 0 0;
  }

  &.left {
    h1 {
      text-align: left;
    }
  }


}

.alert-success {
  background-color: $grass-dark;
}
.alert-major {
  position: relative;
  /* not sure why we need the extra 2px... */
  top: -$header-bottom-margin - 2px;
  border-radius: 0px;
  margin-bottom: 0;
  color: white;
  text-align: center;
  letter-spacing: 2px;

  @include make-row;

  .success-check {
    margin-right: 5px;
    padding: 5px;
    border-radius: 50%;
    background: white;
    color: $grass-dark;
  }

}

.section-header {
  @include make-row();
  padding: 1em 0;
  margin-bottom: 15px;
  background-color: $justfix-blue-dark;

  h2 {
    @include container-fixed();
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px;
  }

  &.bg-danger {
    background-color: $justfix-red;
  }
  &.bg-success {
    background-color: $mint-dark;
  }

  // @media (min-width: $screen-sm-min) {
  //   background-color: transparent;
  //   border-bottom: 2px solid $mediumgray-light;
  //
  //   h2 {
  //     color: $darkgray-dark;
  //   }
  //
  // }

}

.btn:not(.btn-sm), .form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  -webkit-appearance: none;
}
input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control {
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.btn-block {
  max-width: 180px;
  margin: 0 auto;

  &.btn-link {
    max-width: none;
  }

  &.initial {
    float: none !important;
  }
}

.btn .glyphicon {
  padding-top: 2px;
  padding-right: 5px;
}

.img-thumbnail {
  border-radius: 0;
  padding: 0;
}

.language-select {
  position: relative;

  .language-select-toggle {
    display: inline-block;
    padding-top: 15px;
  }

  .language-select-menu {
    top: 55px;
  }
}

.no-gutter [class*="col"] {
  padding: 0;
}


footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $justfix-blue-darkest;
  margin-top: 75px;

  &.no-margin {
  	margin-top: 0px;
  }

  & > p {
    color: #fff;
  }
}
