#findHelp {

  #map {
    width: 100%;
    height: 35vh;
    margin: 15px auto 30px auto;

    @media (min-width: $screen-md-min) {
      height: 50vh;
      margin-left: auto;
      margin-right: auto;
    }
  }


  .nav-tabs {
    // display: table-row;

    li {
      width: 33.33%;
      // display: table-cell;
      // float: none;
      text-align: center;
      text-transform: uppercase;
      font-size: 11px;

      a {
        display: block;
        height: 50px;
      }
    }
  }

  .btn-center {
    text-align: center;
  }

  .tab-content {
    padding: 0;
  }

  .resources-container {
    @include make-row();
    background-color: #fff;

    & > .resources {
      padding: 15px;
    }

    @media (min-width: $screen-md-min) {
      margin: 0 auto;

      & > .resources {
        padding-top: 0;
      }
    }
  }

  .panel {
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  }

}
