footer {

  background-color: $justfix-blue-darkest;

  .footer-main {
    padding-top: 30px;
    padding-bottom: 30px;

    p {
      color: #fff;
    }

    li {
      font-size: 14px;
      vertical-align: top;
    }

  }
}
.footer-links {

  display: table;
  width: 100%;

  & > div {
    background-color: #fff;
    // display: inline-block;
    display: table-cell;
    margin-right: 0;
    width: 50%;


    &:first-child {
      border-right: 2px solid #E6E9ED;
    }

    a {
      display: block;
      padding: 2em;
      text-align: center;
      font-size: 16px;
      color: $darkgray-dark;

      img {
        display: block;
        margin: 0 auto 10px auto;
        height: 50px;
        width: auto;
      }
    }
  }

  .footer-link {
  	text-align: center;
  }
}
