header {
  // min-height: 0;
  // margin-bottom: 0;
  z-index: 1000;
  border: 1px solid transparent;
}

#header-wrapper {
  height: $mobile-header-height;
  @media (min-width: $screen-md-min) {
    height: $desktop-header-height;
  }
  margin-bottom: $header-bottom-margin;
}

#header {
  height: $mobile-header-height;
  @media (min-width: $screen-md-min) {
    height: $desktop-header-height;
  }

  background-color: $justfix-blue;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;


  & > .container {
    position: relative;
    height: 40%;
    top: 50%;
    @include transform(translateY(-50%));
    // text-align: center;
  }

  .header-brand {
    // display: inline-block;
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
    color: #454545;
    height: 100%;


    // & > .logo {
    //   position: relative;
    // 	padding-bottom: 10%;
    // 	height: 0;
    //
    //   & svg {
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //   }
    // }

    // & > .logo, & > .logo > svg {
    & > .logo {
      height: 100%;
      width: auto;
    }

    & > .logo > svg {
      // position: relative;
      // top: 2px;
    }
  }

  .header-btn {
    display: inline-block;
    position: relative;
    height: 100%;
    color: #fff;
    font-size: 20px;
    line-height: 20px;


    @media (min-width: $screen-md-min) {
      font-size: 28px;
      line-height: 28px;
      top: 0;
    }

    &.pull-left {
      margin-right: 15px;
    }

    &.pull-right {
      margin-left: 15px;
    }

    &.header-back {
    }

    &.header-home {
      top: -1px;
    }
  }
}

#header-wrapper.left {

  height: $desktop-header-height;

  #header {

    height: $desktop-header-height;
    background-color: transparent;
    position: static;

    & > .container {
      text-align: left;
    }

    .header-brand {
      position: static;
      @include transform(none);
    }
  }
}

#header-wrapper.light-bg {

  .header-brand > .logo > svg * {
    fill: $darkgray-dark;
  }

  .header-btn {
    color: $darkgray-dark;
  }
}



.sign-in-button {
  margin-top: 10px;
  margin-right: 15px;
  display: none;

  @media (max-width: $grid-float-breakpoint) {
    display: inline-block;
  }
  @media (min-width: $screen-xs-min) {
    margin-top: 20px;
  }
}
