header {
  // min-height: 0;
  // margin-bottom: 0;
  z-index: 1000;
  border: 1px solid transparent;
}


#header-wrapper {

  height: $desktop-header-height;
  margin-bottom: $header-bottom-margin;
}

#header {

  height: $desktop-header-height;

  background-color: transparent;

  & > .container {
    position: relative;
    height: 40%;
    top: 50%;
    @include transform(translateY(-50%));
  }

  .header-brand {

    display: inline-block;
    color: #454545;
    height: 100%;


    // & > .logo, & > .logo > svg {
    & > .logo {
      height: 100%;
      width: auto;
    }

    & > .logo > svg {
      // position: relative;
      // top: 2px;
    }
  }

  .header-btn {
    display: inline-block;
    position: relative;
    height: 100%;
    color: #fff;
    font-size: 20px;
    line-height: 20px;

    & a {
      color: #fff;
    }

    @media (min-width: $screen-md-min) {
      font-size: 28px;
      line-height: 28px;
      top: 0;
    }

    &.pull-left {
      margin-right: 15px;
    }

    &.pull-right {
      margin-left: 15px;
    }

    &.header-back {
    }

    &.header-home {
      top: -1px;
    }

    &.header-btn-text {
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: $desktop-header-height * 0.4;
    }

    &.header-btn-main {
      height: auto;

      // vertical-align: middle;
      border: 1px solid #fff;
      padding: 3px 10px;
      border-radius: 3px;
      top: -4px;

      // &:before {
      //   content: "";
      //   display: inline-block;
      //   vertical-align: middle;
      //   height: 100%;
      // }

      &:hover {
        background-color: #fff;
        color: $darkgray-dark;
      }
    }
  }
}

#header-wrapper.inner {
  height: $mobile-header-height;
  @media (min-width: $screen-md-min) {
    height: $desktop-header-height;
  }

  #header {
    height: $mobile-header-height;
    @media (min-width: $screen-md-min) {
      height: $desktop-header-height;
    }

    background-color: $justfix-blue;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    & > .container {
      text-align: center;
    }

    .header-brand {
      position: absolute;
      left: 50%;
      @include transform(translateX(-50%));
    }

  }
}

// #header-wrapper.light-bg {
//
//   .header-brand > .logo > svg * {
//     fill: $darkgray-dark;
//   }
//
//   .header-btn, .header-btn a {
//     color: $darkgray-dark;
//     border-color: $darkgray-dark;
//   }
// }
#header-wrapper {

  .header-brand > .logo > svg * {
    fill: $darkgray-dark;
  }

  .header-btn, .header-btn.header-btn-main, .header-btn a {
    color: $darkgray-dark;
    border-color: $darkgray-dark;
  }
}


.sign-in-button {
  margin-top: 10px;
  margin-right: 15px;
  display: none;

  @media (max-width: $grid-float-breakpoint) {
    display: inline-block;
  }
  @media (min-width: $screen-xs-min) {
    margin-top: 20px;
  }
}

.header-donate {
  @media (max-width: $screen-xs-min) {
    display: none !important;
  }
}
