
$mobile-header-height: 50px;
$desktop-header-height: 70px;

header.navbar {
  min-height: 0;
  margin-bottom: 0;
  z-index: 1000;
}

#header-wrapper {
  height: $mobile-header-height;
  @media (min-width: $screen-md-min) {
    height: $desktop-header-height;
  }
  margin-bottom: 20px;
}

#header {
  height: $mobile-header-height;
  @media (min-width: $screen-md-min) {
    height: $desktop-header-height;
  }

  background-color: $justfix-blue;

  & > .container {
    position: relative;
    height: 40%;
    top: 50%;
    @include transform(translateY(-50%));
    text-align: center;

    @media (min-width: $screen-md-min) {
      // text-align: left;
    }
  }
}

.header-brand {
  display: inline-block;
  color: #454545;
  height: 100%;

  & > .logo, & > .logo > svg {
    height: 100%;
    width: auto;
  }

  & > .logo > svg {
    position: relative;
    top: 2px;
  }
}

.header-btn {
  display: inline-block;
  position: relative;
  height: 100%;
  color: #fff;
  font-size: 20px;
  line-height: 20px;


  @media (min-width: $screen-md-min) {
    font-size: 28px;
    line-height: 28px;
    top: 0;
  }


  &.pull-left {
    margin-right: 15px;
  }

  &.pull-right {
    margin-left: 15px;
  }

  &.header-back {
    // background: green;
  }

  &.header-home {
    top: -1px;
  }
}

.sign-in-button {
  margin-top: 10px;
  margin-right: 15px;
  display: none;

  @media (max-width: $grid-float-breakpoint) {
    display: inline-block;
  }
  @media (min-width: $screen-xs-min) {
    margin-top: 20px;
  }
}
