
$justfix-blue: #0096d7;

#landing {

  margin-top: -87px;
  @media (min-width: $screen-xs-min) { 
    margin-top: -107px;
  }

  .bg-image {
    position: absolute;
    width: 100%; height: 100%;
    left: 0;
    top: 55px;
    top: 0;
    @media (min-width: $screen-xs-min) { 
      // top: 75px;
    }
  }

  section {
    padding: 15px 0;

    &.above-fold {

      margin-top: 0;

      .above-fold-content {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 10;
        color: #fff;

        @media (max-width: $screen-sm-max) { 
          width: 90%;
        }

        h3 {
          margin-top: 0;
        
          @media (min-width: $screen-xs-min) { 
            font-size: 45px;
          }
        }

        p.lead {
          font-weight: 500;
        }

        .btn {
          max-width: 300px;
          margin: 0 auto;
          font-weight: 600;
          @media (min-width: $screen-sm-min) { 
            font-size: 20px;
            line-height: 1.6;
            height: 50px;
          }

          &.btn-primary {
            background-color: $justfix-blue;

            &:hover, &:focus, &:active {
              background-color: lighten($justfix-blue, 10%);
            }

          }

          &.btn-link {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }



    &.features {

      @media (min-width: $screen-xs-min) {
        padding: 150px 0;
      } 
       

      div {
        &:first-child {
          margin-left: 0;
        }    
        &:last-child {
          margin-right: 0;
        }   
      }

      .box {
        padding: 15px;
        background-color: #fff;
        border: 1px solid #eee;          
      }

      .manifesto-link {
        text-decoration: underline;
        color: $justfix-blue;

        &:hover, &:focus, &:active {
          color: lighten($justfix-blue, 10%);
        }
      }

      h1 {
          @media (max-width: $screen-xs-max) {
            font-size: 30px;
          }
      }

      &.main-idea {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          width: 200%;
          left: -50%;
          height: 100%;
          background-color: #fff;
          z-index: -1;
        }

        @media (max-width: $screen-md-max) {
          padding-left: 15px;
          padding-right: 15px;
        }

        .features-content {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          z-index: 1000;
        }

        p.lead {
          max-width: 960px;
          margin: 0 auto;
        }
      }

      &.your-case {

        @media (max-width: $screen-xs-max) {
          padding: 15px;

          & > div {
            padding: 0;
          }
        }  



      }

      &.manifesto-idea {
        position: relative;

        @media (max-width: $screen-xs-max) {
          padding: 75px 0;
        } 
        @media (min-width: $screen-xs-min) {
          padding-left: 15px;
          padding-right: 15px;
        }

        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          width: 200%;
          left: -50%;
          height: 100%;
          background-color: #fff;
          z-index: -1;
        }
      }

    }

  }

}