#dashboard {


  .take-action-alert {
    position: absolute;
    color: $sunflower-dark;
    font-size: 26px;
    right: 27%;
    top: 0.5em;
  }

  .grid {
    @include make-row();

    border-bottom: 2px solid $lightgray-dark;

    a {
      display: block;
      padding: 1.5em;
      text-align: center;
      font-size: 16px;
      color: $darkgray-dark;
      border-top: 2px solid $lightgray-dark;
      background-color: #fff;

      &:nth-child(odd) {
        border-right: 2px solid $lightgray-dark;
      }

      svg {
        display: block;
        margin: 0 auto 10px auto;
        height: 50px;
        width: auto;
      }
    }

    @media (max-width: 360px) {
      a { font-size: 14px; }
    }


    @media (min-width: $screen-sm-min) {

      border-bottom: none;
      padding: 30px 0;

      a {
        font-size: 17px;
        padding: 2em 0.5em;
        // border-left: 2px solid $lightgray-dark;
        // border-right: 2px solid $lightgray-dark;
        // border-bottom: 2px solid $lightgray-dark;
        border: none;
        margin: 0 4% 30px 4%;

        &:nth-child(odd) {
          border-right: none;
        }
      }


    }
  }
}
