.create-issue-tabs {
  li.active > a {
    /*background-color: $gray-lighter;*/
  }
}

.emergency-icon {
  padding-left: 5px;
  color: $sunflower-dark;
}

.create-issue-container {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;

  h4 {
    margin-top: 0;
  }

  hr {
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: 1px solid #ddd;
  }

}

.create-issue-form {
  
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }

  .btn {
    margin: 2px 0;

    &.btn-step {
      width: 100%;
    }
  }
}

.create-issue-checklist {

  .badge {
    float: right;
    // background-color: #999;
  }

  .panel-group {
    margin-bottom: 0;
  }

  .panel-group-lists {

    .panel:first-child {
      border-top: 1px solid #E6E9ED;
    }

    .panel-title {

      .checklist-title {
        display: inline-block;
        width: 85%;
      }

      a {
        padding: 15px;
      }

      a:hover, a:focus, a:active {
        color: $darkgray-dark;
      }
    }

  }

  .panel-body {
    padding: 0 !important;

    .list-group {
      margin-bottom: 0;
    }

    .list-group-item {
      border-left: 0;
      border-right: 0;
      background-color: $lightgray-light;
      padding-right: 50px;
      position: relative;

      &:first-child, &:last-child {
        border-radius: 0;
      }

      &:first-child {
        border-top: 1px solid $mediumgray-dark;
      }

      .selected-icon {
        position: absolute;
        right: 15px;
        top: 12px;  
      }
    }

    .list-group-item-info:hover, 
    .list-group-item-info:focus,
    .list-group-item-info {
      color: $lightgray-light;
      border-color: $mediumgray-dark;
      background-color: $aqua-dark;
    }

    .area-done-button {
      background-color: $lightgray-light;
      border-top: 1px solid $lightgray-dark;
      border-bottom: 1px solid $mediumgray-dark;

      .btn {
        margin: 10px auto;
      }
    }
  }
}