.kyr {
	
	h3 {
		margin-top: 0.5em;
		font-size: 2em;
		font-weight: 400;
	}

	.legal-disclaimer-body {
		.btn-wrap {
			margin-top: 0.75em;
			text-align: center;
		}
	}

	.legal-disclaimer-trigger {
		margin: 0.5em 0 1.25em;
		cursor: pointer;
	}
}

.kyr-container {

	.kyr-item {
		position: relative;
		background: #fff;
		display: block;
		border-bottom: 1px solid $gray-lighter;
		border-top: none;
		padding: 15px 35px 15px 20px;
		color: $gray;
		cursor: pointer;
		
		@include make-row;

		&:first-child {
			border-top: 1px solid $gray-lighter;

			.pull-right {
				font-weight: 800;
			}
		}

		.pull-right {
			position: absolute;
			top: 12px;
			right: 15px;
			margin-top: 2px;
		}
	}
}

.kyr-detail {
	
	h3 {
		margin-top: 0.5em;
		font-size: 2em;
		font-weight: 400;
	}

	.learn-more-block {	
		margin: 1.5em 0 1.5em 0;

		a {
			display: block;
			text-align: left;
			text-decoration: underline;
			color: $brand-success;
		}
	}

	.btn-wrap {

		.btn {
			width: 100%;
		}
	}

	blockquote {
		margin-top: 20px;
		border-radius: 5px;
		border: none;
		background: #fff;
		text-align: center;
	}

	.btn {
		margin-top: 20px;
	}
}

.prev-next-wrapper {
	position: relative;
	margin: 20px 0;
	padding-top: 10px;
	border-top: 1px solid $gray-lighter;
}

.footer-links {
	margin-top: 5em;
	text-align: center;

	@media (max-width: $screen-xs) {
		@include make-row();
	}

	a {

		@media (min-width: $screen-sm) {
	    margin: 0 8.3% 30px 8.3%;
		}
		@media (max-width: $screen-md) {
			padding: 0px;
		}

		.footer-link {
			background: #fff;
			padding: 3em 0;
			color: $gray;

			@media (max-width: $screen-md) {
				border-right: 1px solid $gray-lighter;
			}
		}

		&:last-child {
			.footer-link {
				border-right: none;
			}
		}
	}
}
