.kyr {
	.legal-disclaimer-body {
		.btn-wrap {
			margin-top: 0.5em;
			text-align: center;
		}
	}

	.legal-disclaimer-trigger {
		margin-bottom: 1em;
		cursor: pointer;
	}
}

.kyr-container {

	.kyr-item {
		display: block;
		background: #fff;
		padding: 10px 15px;
		border: 1px solid $gray-lighter;
		border-top: none;
		color: $gray;
		cursor: pointer;

		&:first-child {
			border-top: 1px solid $gray-lighter;
		}

		.pull-right {
			margin-top: 2px;
		}
	}
}