.kyr {
	
	h3 {
		margin-top: 0.5em;
		font-size: 2em;
		font-weight: 400;
	}

	.legal-disclaimer-body {
		.btn-wrap {
			margin-top: 0.5em;
			text-align: center;
		}
	}

	.legal-disclaimer-trigger {
		margin-bottom: 1em;
		cursor: pointer;
	}
}

.kyr-container {

	.kyr-item {
		display: block;
		background: #fff;
		padding: 10px 15px;
		border: 1px solid $gray-lighter;
		border-top: none;
		color: $gray;
		cursor: pointer;

		&:first-child {
			border-top: 1px solid $gray-lighter;
		}

		.pull-right {
			margin-top: 2px;
		}
	}
}

.kyr-detail {
	
	h3 {
		margin-top: 0.5em;
		font-size: 2em;
		font-weight: 400;
	}

	.learn-more-block {	
		margin: 1.5em 0 1.5em 0;

		a {
			display: block;
			text-align: left;
			text-decoration: underline;
			color: $brand-success;
		}
	}

	.btn-wrap {
		margin: 30px auto 50px auto;
		width: 100%;
		text-align: center;
		max-width: 500px;

		.btn {
			width: 100%;
		}
	}
}