.modal-title {
  // line-height: 1.1;
  // font-weight: 400;
  @include panel-title;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;

  .glyphicon {
    top: 3px;
    font-size: 20px;
  }
}

.modal-body {

  overflow: hidden;

  .modal-issue-list {
    padding-left: 30px;
    margin-bottom: 0;
  }

  .btn-group {
    width: 100%;

    & .btn {
      text-align: left;
    }
  }

  .ui-select-bootstrap .dropdown-menu li a {
    color: #fff;

    &:hover, &:focus {
      color: #262626;
    }
  }
  .ui-select-toggle {
    min-height: 40px;
  }

  img {
    margin: 0 auto 10px auto;
    display: block;
    max-height: 250px;
    max-width: 100%;
  }
}
