.modal-dialog {
  margin: 20px;

  @media (min-width: $screen-sm-min) {
    margin: 30px auto;
  }
}

.modal-title {
  // line-height: 1.1;
  // font-weight: 400;
  @include panel-title;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  text-transform: none;

  .glyphicon {
    top: 3px;
    font-size: 20px;
  }

  .glyphicon-addl {
    position: relative;
    margin-right: 5px;
  }
}

.modal-body {

  overflow: hidden;

  .modal-issue-list {
    padding-left: 30px;
    margin-bottom: 0;
  }

  .btn-group {
    width: 100%;

    & .btn {
      text-align: left;
    }
  }

  .ui-select-bootstrap .dropdown-menu li a {
    color: #fff;

    &:hover, &:focus {
      color: #262626;
    }
  }
  .ui-select-toggle {
    min-height: 40px;
  }

  .lightbox-image-container img {
    margin: 50px auto 10px auto;
    display: block;
    max-width: 100%;
    height: auto !important;
  }
}
