// Extendable clearfix class
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Vars that should be globo but yolo!
$grey: #E0E0E0;

.onboarding-code-entry {
	text-align: center;

	h3 {
		font-weight: 100;
	}

	p {
		margin: 2em 0;
	}

	label {
		text-align: left;
	}

	.access-code-form {

		.input-code {
			padding: .5em 1em;
		}

		.btn {
			margin: 2em 0;
			padding: .75em 2.25em;
		}
	}
}

.problems-listing {
	
	.problem-wrap {
		margin-bottom: 1em;
		border-radius: 10px;
		background: $grey;
		padding: 50px 0px;
		text-align: center;
		color: #262626;
		max-width: 150px;
		min-height: 150px;

		.problem-icon {
			font-size: 2em;
		}

		&.active {
			background: $justfix-blue;
			color: #eee;
		}
	}
}

.issues-modal {
	padding: 0 0 10px 0;

	.close-modal {
		position: absolute;
		right: -5px;
		top: -5px;
		border-radius: 50%;
		background-color: $grey;
		padding: 6px 0;
		height: 30px;
		width: 30px;
		text-align: center;
		cursor: pointer;
	}

	.modal-header {
		padding: 10px;
	}

	.selection-module {
		margin: 0px 10px 10px 10px;
		border: 1px solid $grey;
		border-radius: 3px;
		height: 70vh;
		overflow: auto;
	}

	.selection-issue {
		display: block;
		border-top: 1px solid $grey;
		padding: 15px 15px;
		cursor: pointer;

		&:first-child {
			border-top: none;
		}

		&.active {
			background: darken($justfix-blue, 5);
			color: $white;
		}
	}

	.save {
		margin-right: 20px;
		padding: 10px 44px;
	}

	.cancel {
		margin-right: 20px;
		margin-bottom: 20px;
	}
}

.onboarding-user-create {
	form {
		input {
			padding: 0.5em 1em;
			width: 100%;
		}
	}

	//

	.borough,
	.nycha {
		margin: 0.25em;
		width: auto;

		&.selected {
			background: $justfix-blue;
			color: #fff;
		}
	}
}