@media print {
	body {
		display: block;
		min-height: auto;
	}
}

.print {
	position: relative;
	display: block;

	h2 {
		margin-top: 0px;
	}

	.activity-list {
		position: relative;
		display: block;
		height: 100%;
		width: 100%;

		> div {
			border-top: 1px solid $darkgray-light;
			page-break-inside: avoid;

			&:first-child {
				border-top: none;
			}
		}
	}

	.panel-body {
		position: relative;
		margin-top: 15px;
	}

	img {
		max-height: 100%;
	}

	.exifdata {
		margin: 10px 0px 0px 20px;	
	}

	.meta-map {
    height: 150px;
    width: 150px;
    padding-bottom: 15px;

    img {
    	position: relative;
	    margin: 50px auto 10px auto;
	    display: block;
	    max-width: 100%;
	    height: auto !important;
		}
	}

	.appendix {
		position: relative;
		display: block;
	}

	.items {
		display: block;
	}

	.photo-wrap {
		display: block;
		text-align: center;
		page-break-before: always;
		break-before: always;
    page-break-inside: avoid;
    break-inside: avoid;

		img {
			margin: auto;
			max-height: 700px;
		}
	}
}

iframe {
	border: none;
	border-width: 0px;
}