.nav-tabs {
  // display: table-row;

  li {
    width: 33.33%;
    // display: table-cell;
    // float: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;

    &.active a {
      font-weight: bold;
    }

    a {
      display: block;
      height: 50px;
      line-height: 1.2;

      // line-height: 30px;
    }
  }
}

.tab-content {
  // padding: 0;

  padding: 15px;
  background-color: #fff;

  .panel {
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }
}
