
$topnav-height: 40px;
$topnav-border: $gray-dark;

#top-nav {
  background-color: $darkgray-dark;
  border-top: 1px solid $topnav-border;
  border-bottom: 1px solid $topnav-border;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
  z-index: 1000; 

  top: $xs-header-height;
  @media (min-width: $screen-xs-min) { 
    top: $sm-header-height;
  }    

  .navbar-nav {
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    @media (min-width: $screen-sm-min) { 
      padding-left: 15px;
      padding-right: 15px;
    }

    @media (min-width: 768px) {
      float: none;
      margin-right: auto;
      margin-left: auto;
    }

    & > li {
      border-right: 1px solid $topnav-border;
      border-left: 1px solid $topnav-border;
      background-color: $darkgray-dark;
      padding-bottom: 3px; 

      @media (max-width: $screen-xs-max) { 
        &:last-child {
          border-right: none;
        }
        &:first-child {
          border-left: none;
        }
      }

      &:first-child {
        border-left: 1px solid $topnav-border;
      }     

      &.active {
        background-color: darken( $darkgray-dark, 10% );

        .glyphicon {
          color: $aqua-dark;
        }        
      }

      & > a {
        padding: 4px 0 0 0;
        color: $lightgray-dark;

        .glyphicon {
          font-size: 24px;
        }


        &:hover, &:focus {
            text-decoration: none;
            background-color: transparent;
        }


        div {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }

}