@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.share-section-header {
	margin-bottom: 0;
}

.share-section {
	
	.activities-container & {
		@include make-row;
		padding-top: 30px;
		background-color: #fff;
	}


	.share-controls {
		margin-bottom: 15px;
	}

	h2 {
		margin-top: 20px;

		span {
			line-height: 28px;
		}
	}

	.alert {
		margin-bottom: 30px;
	}
}
.user-profile {
	p {
		margin: 0;
	}

	.user-container {
		@include make-row;

		a {
			display: block;
			padding: 10px 15px;
			border-bottom: 1px solid $gray-lighter;
			color: $gray;
			cursor: pointer;

			.glyphicon {
				color: lighten($gray-light, 20);
			}

			&:first-child {
				border-top: 1px solid $gray-lighter;
			}
		}
	}

	.btn {
		float: none;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.edit-profile-form {

  .form-group {
    margin-left: 0;
    margin-right: 0;
  }

  .btn {
    margin: 2px 0;

    &.btn-step {
      width: 100%;
    }
  }
}
