@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.share-section-header.closed {
	margin-bottom: 0;
}

.share-section {

	.activities-container & {
		@include make-row;
		padding-top: 20px;
    padding-bottom: 5px;
		background-color: #fff;
	}


	.share-controls {
		margin-bottom: 15px;
	}

	h2 {
		margin-top: 20px;

		span {
			line-height: 28px;
		}
	}

	.alert {
		margin-bottom: 30px;
	}

	.share-link {
		h2 {
			margin-top: 0;
		}
	}

}

.user-profile {
	p {
		margin: 0;
	}

	.user-container {

		a {
			display: block;
			background: #fff;
			padding: 10px 15px;
			border: 1px solid $gray-lighter;
			border-top: none;
			color: $gray;
			cursor: pointer;
		}
	}

	.btn {
		float: none;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.edit-profile-form {

  .form-group {
    margin-left: 0;
    margin-right: 0;
  }

  .btn {
    margin: 2px 0;

    &.btn-step {
      width: 100%;
    }
  }
}
