$justfix-blue: #0096D7;
$justfix-blue-dark: #0E6594;

$justfix-red: #E85D5D;

// don't use /public because the express app handles that already for the XHR req
// not sure how this works on production...
$icon-font-path: "/lib/bootstrap-sass-official/assets/fonts/bootstrap/";

// $border-radius-base:        2px;
// $border-radius-large:       3px;
// $border-radius-small:       1px;

$mobile-header-height: 50px;
$desktop-header-height: 70px;
$header-bottom-margin: 20px;

$aqua-dark: $justfix-blue;
$aqua-light: lighten($justfix-blue, 10%);

$mint-dark:                   #37BC9B;
$mint-light:                  #48CFAD;

$grass-dark:                  #8CC152;
$grass-light:                 #A0D468;

$sunflower-dark:              #F6BB42;
$sunflower-light:             #FFCE54;

$bittersweet-dark:            #E9573F;
$bittersweet-light:           #FC6E51;

$grapefruit-dark:             #DA4453;
$grapefruit-light:            #ED5565;

$lavender-dark:               #967ADC;
$lavender-light:              #AC92EC;

$pinkrose-dark:               #D770AD;
$pinkrose-light:              #EC87C0;

$lightgray-dark:              #E6E9ED;
$lightgray-light:             #F5F7FA;

$mediumgray-dark:             #AAB2BD;
$mediumgray-light:            #CCD1D9;

$darkgray-dark:               #434A54;
$darkgray-light:              #656D78;
