<section class="row" data-ng-controller="PasswordController">
	<h3 class="col-md-12 text-center">{{'modules.users.views.profile.password.forgot.title' | translate}}</h3>
	<p class="small text-center">{{'modules.users.views.profile.password.forgot.enterUser' | translate}}</p>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">{{'modules.users.views.profile.password.forgot.submit' | translate}}</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>{{success}}</strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>