.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
app/tests/coverage/
.bower-*/
.idea/
app/mongodb/
app/mongodb/*
uploads
config/env/development.js
public/styles/*
public/styles/style.css
public/styles/vendor.css
public/styles/style.css.map
public/styles/vendor.css.map
