<div class="modal-header">
  <h3 class="modal-title">Status Update</h3>
</div>
<div class="modal-body" stop-event="touchend">
  <form class="update-activity-form" novalidate>
    <div class="form-group">
        <label class="control-label" for="title">When did this happen?</label>
        <div class="controls">
          <input type="date" class="form-control"  ng-model="newActivity.date"  />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="description">What is this update about?</label>
        <div class="controls">

          <label  data-ng-if="areas.length < 5"
                  class="btn btn-default btn-mult"
                  data-ng-repeat="area in areas"
                  data-ng-model="newActivity.area"
                  data-ng-bind="area"
                  btn-radio="area">
          </label>

          <ui-select data-ng-if="areas.length >= 5"
                     ng-model="newActivity.area"
                     theme="bootstrap"
                     ng-disabled="disabled"
                     reset-search-input="false">
            <ui-select-match placeholder="Select an issue area">{{ newActivity.area }}</ui-select-match>
            <ui-select-choices repeat="area in areas">
              <div> {{ area }}</div>
            </ui-select-choices>
          </ui-select>

        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <textarea name="description" data-ng-model="newActivity.description" id="description" class="form-control" cols="30" rows="5" maxlength="500" placeholder="Add details here."></textarea>
        </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
  <button class="btn btn-info" data-ng-click="done()">
      <span class="glyphicon glyphicon-ok pull-left" style="padding-top:1px"></span>
      Add To Your Case
  </button>
</div>
