<div class="modal-header">
  <h3 class="modal-title">HP Action</h3>
</div>
<div class="modal-body"  stop-event="touchend">
  <form class="update-activity-form" novalidate>
    <div class="form-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <textarea name="description" data-ng-model="newActivity.description" id="description" class="form-control" cols="30" rows="5" maxlength="500" placeholder="What's going on?"></textarea>
        </div>
    </div>     
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="done()">Submit</button>
</div>