<div class="modal-header">
  <h3 class="modal-title">Other</h3>
</div>
<div class="modal-body" stop-event="touchend">
  <p>
  Please use this space to add anything else that might be good to add to your timeline of events - such as changes to issues or communication with a super, manager, broker, or landlord.
  </p>
  <form class="update-activity-form" novalidate>
    <div class="form-group">
        <label class="control-label" for="title">When did this happen?</label>
        <div class="controls">
            <!-- <p class="input-group"> -->
              <input type="date" class="form-control" datepicker-popup ng-model="newActivity.date" is-open="openedDatepicker" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
<!--                     <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDP($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span> -->
            <!-- </p> -->
        </div>
    </div>    
    <div class="form-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <textarea name="description" data-ng-model="newActivity.description" id="description" class="form-control" cols="30" rows="5" maxlength="500" placeholder="Please describe your update."></textarea>
        </div>
    </div>     
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
  <button class="btn btn-info" data-ng-click="done()">
      <span class="glyphicon glyphicon-ok pull-left" style="padding-top:1px"></span>
      Add To Timeline
  </button>
</div>