<div class="modal-header">
  <h3 class="modal-title">{{::'modules.actions.partials.modals.rentalHistory.title' | translate}}</h3>
</div>
<div class="modal-body" stop-event="touchend">
  <p ng-bind-html="::'modules.actions.partials.modals.rentalHistory.body' | trustTranslate"></p>
  <div class="form-group">
      <label class="control-label" for="description">{{::'modules.actions.partials.modals.rentalHistory.description' | translate}}</label>
      <div class="controls">
          <textarea name="description" data-ng-model="emailContent" id="description" class="form-control" cols="30" rows="5" maxlength="500" placeholder="{{::'modules.actions.partials.modals.rentalHistory.placeholder' | translate}}"></textarea>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default pull-left" ng-click="cancel()">{{::'modules.actions.partials.modals.rentalHistory.cancel' | translate}}</button>
  <a target="_blank" class="btn btn-success pull-right" data-ng-click="done()">
    <span class="glyphicon glyphicon-envelope pull-left"></span>
    {{::'modules.actions.partials.modals.rentalHistory.send' | translate}}
  </a>
</div>
