<div class="modal-header">
  <h3 class="modal-title">Request your Rental History</h3>
</div>
<div class="modal-body" stop-event="touchend">
  <p>Requesting this document from DHCR will help you determine if you are rent stabilized or not. If you are rent stabilized, you may have additional rights as a tenant. Save the letter for your records by uploading it to your <b>Case History!</b></p>
  <div class="form-group">
      <label class="control-label" for="description">Here's what we'll send:</label>
      <div class="controls">
          <textarea name="description" data-ng-model="emailContent" id="description" class="form-control" cols="30" rows="5" maxlength="500" placeholder="What to send to DHCR"></textarea>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
  <a target="_blank" class="btn btn-success pull-right" data-ng-click="done()">
    <span class="glyphicon glyphicon-envelope pull-left"></span>
    Send Email
  </a>
</div>
