<section class="onboarding onboarding-code-entry">
  <h3 ng-bind-html="::'modules.issues.partials.accessCode.title' | trustTranslate" compile-template></h3>
  <p>{{::'modules.issues.partials.accessCode.title' | translate}}</p>
  <div class="error-text alert alert-danger" ng-show="majorError">{{::'modules.issues.partials.accessCode.majorError' | translate}}</div>
  <form>
    <div class="form-group">
      <label class="control-label"></label>
      <input class="form-control" type="text" placeholder="{{::'modules.issues.partials.accessCode.starts' | translate}}" ng-model="newUser.accessCode" class="input-code">
    </div>
    <div class="form-group">
	     <input class="btn btn-primary input-submit" value="{{::'modules.issues.partials.accessCode.start' | translate}}" ng-click="validateCode()">
    </div>
  </form>
  <div class="error-text alert alert-danger" ng-show="codeError">{{::'modules.issues.partials.accessCode.majorError' | translate}}</div>
</section>
