<div class="form-group">
    <label class="control-label" for="contactType">Who should we contact?</label>
    <div class="controls btn-group">
        <label class="btn btn-default" data-ng-model="newIssue.contactType" btn-radio="'Landlord'">Landlord</label>
        <label class="btn btn-default" data-ng-model="newIssue.contactType" btn-radio="'Super'">Super</label>
        <label class="btn btn-default" data-ng-model="newIssue.contactType" btn-radio="'Other'">Other</label>
    </div>
</div>
<div class="form-group">
    <label class="control-label" for="contactName">What is {{ newIssue.contactType ? "your " + newIssue.contactType + "\'s" : "their" }} name?</label>
    <div class="controls">
        <input type="text" data-ng-model="newIssue.contactName" id="contactName" class="form-control" placeholder="Please enter their full name.">
    </div>
</div>
<div class="form-group">
    <label class="control-label" for="contactPhone">What is {{ newIssue.contactType ? "your " + newIssue.contactType + "\'s" : "their" }} phone number?</label>
    <div class="controls">
        <input type="tel" data-ng-model="newIssue.contactPhone" id="contactPhone" class="form-control" placeholder="Please enter their phone number." phone-input>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-6">
        <a ui-sref="createIssue.personal" class="btn btn-default btn-step">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Previous
        </a>
    </div>
    <div class="col-xs-6">
        <a ui-sref="createIssue.review" class="btn btn-primary btn-step">
        Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>