<p>
    Using the issues you've identified and your location in the city, JustFix.nyc will suggest things <b>To Do</b> so issues can start to be fixed.
    <br />
    <br />
    As you work on your case, check out the <b>Your Case</b>, which will keep track of everything you've done. Be sure to show it to lawyers, judges, and even your landlord! 
</p>
<div class="form-group" data-ng-hide="authentication.user">
    <label for="password">Create a password to get started:</label>
    <input type="password" id="password" name="password" class="form-control" data-ng-model="newIssue.password" placeholder="Password">
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <a ui-sref="createIssue.personal" class="btn btn-default btn-step">
                <span class="glyphicon glyphicon-circle-arrow-left"></span> Prev
            </a>
        </div>
        <div class="col-xs-6">
            <input type="submit" class="btn btn btn-primary btn-step pull-right">
        </div>
    </div>
</div>
