<div class="form-group" data-ng-controller="IssuesChecklistController">
    <p ng-bind-html="::'modules.issues.partials.createIssueChecklist.intro' | trustTranslate" compile-template>
    </p>
    <!-- <accordion close-others="oneAtATime" class="create-issue-checklist">
        <accordion-group data-ng-repeat="(area, obj) in checklist" is-open="open[$index]">
            <accordion-heading>
                <div class="checklist-title">{{ area | areaTitle }}</div>
                <span class="badge" data-ng-class="{ 'badge-primary' : obj.numChecked }">{{ obj.numChecked }} issue{{ obj.numChecked === 1 ? '' : 's' }}</span>
            </accordion-heading>
            <div class="list-group">
                <button type="button"
                        class="list-group-item"
                        data-ng-repeat="item in obj.issues"
                        data-ng-click="select(area, item)"
                        data-ng-class="{ 'list-group-item-info': isSelected(area, item) }">
                        {{ item.title }}
                        <span data-ng-show="item.emergency" class="emergency-icon glyphicon glyphicon-alert" aria-hidden="true"></span>
                        <span data-ng-show="isSelected(area, item)" class="selected-icon glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-xs-12 area-done-button">
                <a data-ng-click="closeGroup($index)" class="btn btn-default btn-block" go-to-top>
                    Done with this area <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
        </accordion-group>
    </accordion> -->
</div>
<!-- <div class="form-group" data-ng-hide="updateView">
    <div class="row">
        <div class="col-xs-7 col-xs-offset-5">
            <a ui-sref="createIssue.personal" class="btn btn-primary btn-step pull-right">
            Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
</div> -->
<div class="form-group">
    <div class="row">
        <div class="col-xs-7 col-xs-offset-5">
            <button type="submit" class="btn btn btn-primary btn-step pull-right">
              {{::'modules.issues.partials.createIssueChecklist.intro' | translate}} <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
        </div>
    </div>
</div>
