<div class="form-group" data-ng-controller="IssuesChecklistController">
    <em>Select all that apply - you can also come back to this whenever you want.</em>
    <br />
    <accordion close-others="oneAtATime" class="create-issue-checklist">
        <accordion-group data-ng-repeat="(area, obj) in checklist" is-open="open[$index]">
            <accordion-heading>
                <div class="checklist-title">{{ area | areaTitle }}</div>
                <span class="badge" data-ng-class="{ 'badge-primary' : obj.numChecked }">{{ obj.numChecked }}</span>
            </accordion-heading>
            <div class="list-group">
                <button type="button" 
                        class="list-group-item" 
                        data-ng-repeat="item in obj.issues"
                        data-ng-click="select(area, item)"
                        data-ng-class="{ 'list-group-item-info': isSelected(area, item) }">
                        {{ item }}
                        <span data-ng-show="isSelected(area, item)" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-xs-12">
                <a data-ng-click="closeGroup($index)" class="btn btn-link btn-block">
                    Done with this area <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
        </accordion-group>       
    </accordion>
</div>
<div class="form-group" data-ng-hide="updateView">
    <div class="row">
        <div class="col-xs-7 col-xs-offset-5">
            <a ui-sref="createIssue.personal" class="btn btn-primary btn-step">
            Personal Info <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
</div>
<div class="form-group" data-ng-show="updateView">
    <div class="row">
        <div class="col-xs-7 col-xs-offset-5">
            <button type="submit" class="btn btn btn-primary btn-step">
                Submit <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
        </div>
    </div>
</div>