<div class="form-group">
    <label class="control-label" for="name">Full Name</label>
    <div class="controls">
        <input type="text" data-ng-model="newIssue.name" id="name" class="form-control" placeholder="Please enter your full name.">
    </div>
</div>  
<div class="form-group">
    <label class="control-label" for="phone">Phone Number</label>
    <div class="controls">
        <input type="tel" data-ng-model="newIssue.phone" id="phone" class="form-control" placeholder="Please enter your phone number." phone-input>
    </div>
</div>
<div class="form-group">
    <label class="control-label" for="borough">Borough</label>
    <div class="controls">
        <label class="btn btn-default" data-ng-model="newIssue.borough" btn-radio="'Brooklyn'">Brooklyn</label>
        <label class="btn btn-default" data-ng-model="newIssue.borough" btn-radio="'Queens'">Queens</label>
        <label class="btn btn-default" data-ng-model="newIssue.borough" btn-radio="'Manhattan'">Manhattan</label>
        <label class="btn btn-default" data-ng-model="newIssue.borough" btn-radio="'Bronx'">Bronx</label>
        <label class="btn btn-default" data-ng-model="newIssue.borough" btn-radio="'Staten Island'">Staten Island</label>
    </div>
</div>
<div class="form-group">
    <label class="control-label" for="address">Address</label>
    <div class="controls">
        <input type="text" data-ng-model="newIssue.address" id="address" class="form-control" placeholder="Please enter your address.">
    </div>
</div>    
<div class="form-group">
    <label class="control-label" for="unit">Apartment #</label>
    <div class="controls">
        <input type="text" data-ng-model="newIssue.unit" id="unit" class="form-control" placeholder="Please enter your apartment #.">
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <a ui-sref="createIssue.checklist" class="btn btn-default btn-step">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> Checklist
            </a>
        </div>
        <div class="col-xs-6">
            <a ui-sref="createIssue.review" class="btn btn-primary btn-step">
            Review <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
</div>

