<div class="issues-modal">
	<div class="close-modal" ng-click="cancel()">
		X
	</div>
  <div class="modal-header">
      <h4 class="modal-title">{{currentProblem.title}}</h4>
  </div>
  <div class="selecter multiple">
		<div class="selection-module">
			<a class="selection-issue" problem-issue-item ng-repeat="issue in issues track by $index" ng-click="selectIssue(issue)" ng-class="{'active':issue.active} ">
				{{issue.key}}
			</a>
			<a problem-issue-item class="selection-issue other">
				Other <span class="selector-plus pull-right btn btn-primary" ng-click="toggleOther()">+</span>
				<div class="form-group" ng-show="addMore == true">
					<textarea ng-model="other.value" value="other.value" class="form-control"></textarea>
				</div>
			</a>
		</div>
		<span class="btn btn-primary pull-right save" ng-click="save()">Save</span>
		<span class="btn btn-default pull-right cancel" ng-click="cancel()">Cancel</span>
		<div class="clearfix"></div>
  </div>
</div>
