<div class="issues-modal">
	<div class="close-modal glyphicon glyphicon-remove" ng-click="cancel()">
	</div>
  <div class="modal-header">
      <h4 class="modal-title">{{currentProblem.title}}</h4>
  </div>
  <div class="selecter multiple">
		<div class="selection-module">
			<a class="selection-issue" problem-issue-item ng-repeat="issue in issues track by $index" issue="{{issue.key}}" ng-click="selectIssue(issue)">
				{{issue.key}} <span class="glyphicon glyphicon-ok pull-right"></span>
			</a>
			<a problem-issue-item id="other-block" class="selection-issue other">
				Other <span class="selector-plus pull-right btn btn-primary" ng-click="toggleOther()" jump-to="other-block">+</span>
				<div class="form-group" ng-class="{'slide-up': addMore}" ng-show="addMore == true">
					<textarea ng-model="other.value" value="other.value" class="form-control"></textarea>
				</div>
			</a>
		</div>
		<span class="btn btn-primary pull-right col-xs-6 save" ng-click="save()">Save</span>
		<span class="btn btn-default pull-right col-xs-5 cancel" ng-click="cancel()">Cancel</span>
		<div class="clearfix"></div>
  </div>
</div>
