<section data-ng-controller="ProblemsController">

  <div class="page-header">
    <img src="/modules/core/img/sections/issues.svg" alt="Issue Checklist" />
    <h1>{{'modules.problems.views.updateProblems.title' | translate}}</h1>
  </div>
  <!-- <div class="form-group" ng-if="hasChangedProblems">

    <fieldset>
        <div data-ng-show="updateSuccess" class="alert alert-success">
            <strong>
              Successfully updated your checklist!
            </strong>
        </div>
        <div data-ng-show="updateFail" class="alert alert-danger">
            <strong>
              Sorry! Something went wrong. Please try again later.
            </strong>
        </div>
    </fieldset>

    <div class="row">
      <a ng-click="updateProblems()" class="btn btn-block btn-info">
        <span class="glyphicon glyphicon-ok pull-left" style="padding-top:1px"></span>
        Update Case History
      </a>
    </div>
  </div> -->

  <div class="problems-container">
    <problems-checklist></problems-checklist>
  </div>

</section>
