<section id="advocates-faq">

  <!-- <div class="page-header">

  </div> -->

  <h1>How It Works</h1>

  <p>
    Welcome! The JustFix.nyc Advocate Dashboard helps you stay connected with the tenants you are working with and assist them on their housing issues. It can help you keeps information organized and streamline the process of building a strong legal case. With this dashboard you can:
    <ul>
      <li>View cases of JustFix.nyc users who have shared their account with you</li>
      <li>Create and manage cases on behalf of tenants who are unable to create accounts for themselves</li>
      <li>View cases individually or grouped by address</li>
    </ul>
  </p>

  <h2>USING YOUR ADVOCATE CODE</h2>
  <p>
    The Advocate Code you created when making your account is unique to you. Share your Advocate Code with the tenants you are working with so they can connect with you through the Tenant App. <i>Your Advocate Code is <b>{{ user.code }}</b></i>.
    <ol>
      <li>When you refer a tenant to JustFix.nyc, give them your code to use.</li>
      <li>They will enter your code when signing up at <b>www.justfix.nyc</b>.</li>
      <li>Your contact information is shared with them, so they can reach out to you if necessary.</li>
      <li>If you change your contact email address or phone number, that will automatically be passed to the tenant as well!</li>
    </ol>
  </p>

  <h2>DIFFERENT TYPES OF TENANT ACCOUNTS</h2>
  <p>
    <div class="row">
      <div class="col-xs-6">
        <b>Linked Accounts</b>
        <p>A linked account is one that the tenant manages on their own after using your Advocate Code. You can see a "shared" view of their case if they have enabled sharing, otherwise you will only see some basic information about them.</p>
        <!-- <button class="btn btn-info">Manage</button> -->
      </div>
      <div class="col-xs-6">
        <b>Managed Accounts</b>
        <p>A managed account is one you create and maintain on behalf of a tenant. Adding a managed account helps you track information for a tenant who will not be using a JustFix.nyc account personally for whatever reason.</p>
        <!-- <a href="">View Case</a> -->
      </div>
    </div>
    <i><b>Tip:</b> Using a managed tenant account is easy to do during a home visit, so you can gather all the evidence and have it organized for later!</i>
  </p>

  <h2>USING JUSTFIX.NYC IN YOUR EVERYDAY WORK</h2>
  <p>
    The features of this dashboard (still in beta!) have been the result of many months of research and testing. We have been using it iternally to work with hundreds of tenants across NYC, and have found some best practices:
    <ul>
      <li>
        Schedule follow ups and check ins based on how you work. Suggest specific things for your tenants to be doing through the app (see example actions)</li>
      <li>
        Encourage tenants to use JustFix.nyc like a daily diary by posting State Updates through the Tenant App. The more you document, the stronger your case will be!
      </li>
      <li>
        Make sure to track outcomes or resolutions as well!
      </li>
    </ul>
    <i><b>Tip:</b> The more you are checking in on your tenants cases, the more they will be documenting!</i>
  </p>

  <h2>ACTIONS THAT TENANTS CAN TAKE ON JUSTFIX.NYC</h2>
  <p>
    <ul>
      <li>
        Conduct a room-by-room inspection and select any outstanding repair or harassment issues.
      </li>
      <li>
        Good photo documentation that will automatically capture time, date, and location information. <i>Note: The tenant will need to enable "Location Services" on their Camera app for this to work.</i></li>
      <li>
        Easy way to call 311 and record the complaint number.
      </li>
      <li>
        Guides you through the process of requesting your Rental History from DHCR.
      </li>
      <li>
        Access crucial Know Your Rights information and links to hotlines and other online resources.
      </li>
      <li>
        Automatically generate a letter of complaint which can be sent to the landlord via certified mail. <i>If a tenant has shared their account with you, you can access this letter for easy printing.</i> <a href="https://pdfbucket001.s3.amazonaws.com/pdf-start-urUDeNmT.pdf" target="_blank">Click here to see a sample letter!</a>
      </li>
      <li>
        Share or print their case to be used as evidence in Housing Court or to show to legal representatives. <i>You can also do this for a tenant by clicking "Print" from their case page.</i> <a href="https://drive.google.com/file/d/0B-Z-WQWD9O2iTnZjN0Q0Qy1qY2s/view?usp=sharing" target="_blank">Click here to see a sample JustFix.nyc case!</a>
      </li>
    </ul>
    <i>The JustFix.nyc Tenant App is currently available in English and Spanish. Spanish speakers can sign up at <b>justfix.nyc/espanol</b>.</i>
  </p>

  <h2>WHAT'S NEXT</h2>
  <p>
    We’ve got lots of great features in store that we will be introducing over the next few months. It is our goal to build tools that support the work you are doing, so if you have feedback or suggestions, please contact us! Here’s a sneak peek at what we’re building next:
    <ul>
      <li>
        Ability to refer tenants to JustFix.nyc with a text message.
      </li>
      <li>
        Integrating building and landlord data from HPD, DOB, DHCR, and ACRIS.
      </li>
      <li>
        Export “aggregate issues list” for buildings.
      </li>
    </ul>
    <br />
    <br />
    <div class="row">
      <a class="col-xs-4 col-xs-offset-1 btn btn-primary" target="_blank" href="">Feedback!</a>
      <a class="col-xs-4 col-xs-offset-2 btn btn-warning" ui-sref="contact">Contact Us</a>
    </div>
  </p>



</section>
