<section data-ng-controller="ActivityController" data-ng-init="list()">
    <div class="page-header">
        <h1>Your Case</h1>
        <p><em>Share your case with case workers, attorneys, and judges as a way to tell your story. Your case can be found anytime you need it by going to <b style="text-decoration:underline;">JustFix.nyc/{{ authentication.user.phone }}</b> (thats your phone number!)</em></p>
    </div>
    <div data-ng-if="activities.length" class="activities-container">
        <div data-ng-repeat="activity in activities | orderBy:'date':true" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ activity.date | date:'longDate' }}</h3>
            </div>
            <div class="panel-body">
 
                <p><b>{{ activity.key | areaTitle }} {{ activity.title === 'Text/Photos' ? 'Details' : activity.title }}</b></p>
                {{ activity.description }}

                <div class="row thumb-list">


                    <div data-ng-repeat="photo in activity.photos" class="col-xs-4">

                <!-- $parent.$index -->
                        <a ng-click="openLightboxModal(activity.photos, $index)">
                            <img ng-src="{{ activity.photos[$index].thumb }}" alt="{{ activity.key | areaTitle }}" class="img-thumbnail" />
                        </a>
                    </div>
                    
                </div>                    


            </div>            
        </div>     
    </div>
    <div class="alert alert-warning text-center" data-ng-if="!activities.length">
    	Nothing has been added to your case yet! <a ui-sref="listActions">Click here</a> to see some things to do.
    </div>
</section>