<section class="activities-container" data-ng-controller="ActivityPublicController" data-ng-init="list()">
    <div class="page-header">
        <img src="/modules/core/img/sections/history.svg" alt="Case History" />
        <h1>{{ user.fullName }}</h1>
        <p class="text-danger text-center">This is a sharing view!</p>
    </div>
    <button class="btn btn-primary btn-block" print-button>
        Print
    </button>
    <div class="section-header" ng-click="activityCollapsed = !activityCollapsed">
      <h2>Case History
        <span class="pull-right glyphicon" ng-class="activityCollapsed ? 'glyphicon-plus' : 'glyphicon-minus'"></span>
      </h2>
    </div>
    <div collapse="activityCollapsed">
      <div data-ng-if="activities.length">
          <div data-ng-repeat="activity in activities | orderBy:'startDate':true" class="panel activity-panel">
              <div class="panel-heading">
                  <p>{{ ::activity.startDate | date:'longDate' }}</p>
                  <h3>{{ ::activity.title }}</h3>
              </div>
              <div class="panel-body">

                <div ng-include="activityTemplate(activity.key)"></div>

                  <!-- <p><b>{{ activity.key | areaTitle }} {{ activity.title === 'Text/Photos' ? 'Details' : activity.title }}</b></p> -->


                  <span class="pull-right activity-logged-date"><i>Logged on {{ ::activity.createdDate | date:'short' }}</i></span>

              </div>
          </div>
      </div>
      <div class="alert alert-warning text-center" data-ng-if="!activities.length">
        {{ user.fullName }} hasn't added anything to their Case History yet. Check back later!
      </div>
    </div>

</section>
