<section data-ng-controller="AdminController" data-ng-init="list()" id="admin">
<!-- <section data-ng-controller="AdminController"> -->

  <div class="page-header">
    <h1>{{'modules.admin.views.title' | translate}}</h1>
  </div>

  <tabset justified="true">
    <tab heading="List Referrals">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{'modules.admin.views.referrals.name' | translate}}</th>
            <th>{{'modules.admin.views.referrals.organization' | translate}}</th>
            <th>{{'modules.admin.views.referrals.phone' | translate}}</th>
            <th>{{'modules.admin.views.referrals.email' | translate}}</th>
            <th>{{'modules.admin.views.referrals.code' | translate}}</th>
            <th>{{'modules.admin.views.referrals.remainingCodes' | translate}}</th>
            <th>{{'modules.admin.views.referrals.totalUsers' | translate}}</th>
            <th>{{'modules.admin.views.referrals.delete' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="r in referrals">
            <td ng-bind="r.name"></td>
            <td ng-bind="r.organization"></td>
            <td ng-bind="r.phone"></td>
            <td ng-bind="r.email"></td>
            <td ng-bind="r.code"></td>
            <td ng-bind="r.totalUsers"></td>
            <td ng-bind="r.totalUsers - r.inUse"></td>
            <!-- <td ng-click="showCodes(r.codes)"><a>show codes ({{ r.codes.length }})</a></td> -->
            <td ng-click="delete(r)" class="text-danger">{{'modules.admin.views.referrals.delete' | translate}}</td>
          </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="Create New Referral">
      <form>
        <div class="form-group">
          <label class="control-label">{{'modules.admin.views.referrals.name' | translate}}:</label><br/>
          <input class="form-control" type="text" name="Name" ng-model="newReferral.name">
        </div>

        <div class="form-group">
          <label class="control-label">{{'modules.admin.views.referrals.phone' | translate}}:</label><br/>
          <input class="form-control" type="text" name="Phone" ng-model="newReferral.phone">
        </div>

        <div class="form-group">
          <label class="control-label">{{'modules.admin.views.referrals.email' | translate}}:</label><br/>
          <input class="form-control" type="text" name="Email" ng-model="newReferral.email">
        </div>

        <div class="form-group">
          <label class="control-label">{{'modules.admin.views.referrals.organization' | translate}}:</label><br/>
          <input class="form-control" type="text" name="Organization" ng-model="newReferral.organization">
        </div>

        <div class="form-group">
          <label class="control-label">{{'modules.admin.views.referrals.code' | translate}}:</label><br/>
          <input class="form-control" type="text" name="Code" ng-model="newReferral.code" required>
        </div>

        <div class="form-group">
          <label class="control-label">{{'modules.admin.views.referrals.numberCodes' | translate}}:</label><br/>
          <input class="form-control" type="text" name="Number of Codes" ng-model="newReferral.totalUsers">
        </div>

        <div class="form-group clearfix">
          <div class="pull-left" ng-class="createError ? 'text-danger' : 'text-success'">{{ message }}</div>
          <input class="btn btn-primary pull-right" type="submit" value="{{'modules.admin.views.referrals.create' | translate}}" ng-click="create()">
        </div>
      </form>

    </tab>
  </tabset>

  <!-- <h3>List Referrals:</h3>


  <h3>New Referral:</h3> -->


  <!-- <h3>Delete Referral:</h3>
  <form>
    <label>Email:</label><br/>
    <input type="text" name="Email" ng-model="deleteReferralEmail"><br/><br/>
    <input type="submit" value="Delete Referral" ng-click="delete()">
  </form> -->

</section>
