<section data-ng-controller="AdminController" data-ng-init="list()">
<!-- <section data-ng-controller="AdminController"> -->

  <h3>List Referrals:</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Organization</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Access Codes</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="r in referrals">
        <td ng-bind="r.name"></td>
        <td ng-bind="r.organization"></td>
        <td ng-bind="r.phone"></td>
        <td ng-bind="r.email"></td>
        <td ng-click="showCodes(r.codes)">show codes ({{ r.codes.length }})</td>
      </tr>
    </tbody>
  </table>

  <h3>New Referral:</h3>
  <form>
    <label>Name:</label><br/>
    <input type="text" name="Name" ng-model="newReferral.name"><br/><br/>
    <label>Phone:</label><br/>
    <input type="text" name="Phone" ng-model="newReferral.phone"><br/><br/>
    <label>Email:</label><br/>
    <input type="text" name="Email" ng-model="newReferral.email"><br/><br/>
    <label>Organization:</label><br/>
    <input type="text" name="Organization" ng-model="newReferral.organization"><br/><br/>
    <label>Number of Codes:</label><br/>
    <input type="text" name="Number of Codes" ng-model="newReferral.numCodes"><br/><br/>
    <input type="submit" value="Create Referral" ng-click="create()">
  </form>

  <h3>Delete Referral:</h3>
  <form>
    <label>Email:</label><br/>
    <input type="text" name="Email" ng-model="deleteReferralEmail"><br/><br/>
    <input type="submit" value="Delete Referral" ng-click="delete()">
  </form>

</section>
