<section data-ng-controller="IssuesController">
    <div class="page-header">
        <h1>Getting Started</h1>
    </div>
<!--     <ul class="nav nav-tabs create-issue-tabs">
        <li role="presentation" ui-sref-active="active"><a ui-sref="createIssue.checklist">Checklist</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="createIssue.personal">Info</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="createIssue.review">Review</a></li>
    </ul>   -->  
<!--     <div class="col-md-12">
        <progressbar value="currentStep"></progressbar>
        <progressbar class="progress-striped active" max="200" value="166" type="danger"><i>166 / 200</i></progressbar>
    </div> -->
    <div class="panel create-issue-container col-md-12">
        <h4 data-ng-bind="currentStateTitle"></h4>
        <form class="form-horizontal create-issue-form" data-ng-submit="create()" novalidate>
            <div data-ui-view></div>
            <fieldset>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>