<section data-ng-controller="IssuesController">
    <div class="page-header">
        <h1>Let's Get Started</h1>
    </div>
    <ul class="nav nav-tabs create-issue-tabs">
        <li role="presentation" ui-sref-active="active"><a ui-sref="createIssue.checklist">Checklist</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="createIssue.personal">Info</a></li>
        <!-- <li role="presentation" ui-sref-active="active"><a ui-sref="createIssue.contact">3</a></li> -->
        <li role="presentation" ui-sref-active="active"><a ui-sref="createIssue.review">Review</a></li>
    </ul>    
    <div class="panel create-issue-container col-md-12">
        <!-- <h4 data-ng-bind="currentStateTitle"></h4> -->
        <!-- <hr /> -->
        <form class="form-horizontal create-issue-form" data-ng-submit="create()" novalidate>
            <div data-ui-view></div>
            <fieldset>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>