<section data-ng-controller="IssuesController">
    <div class="page-header">
        <h1>Issues</h1>
    </div>
    <div data-ng-show="hasIssues()">
        <div class="row">
            <div class="col-xs-12">
                <a ui-sref="updateIssues" class="btn btn-primary btn-block">
                Update Room Checklist
                </a>
            </div>
        </div>
        <div data-ng-repeat="(area,obj) in issues">
            <div data-ng-hide="obj.length === 0">
                <h4 data-ng-bind="area | areaTitle"></h4>
                <div class="list-group">
                    <p  data-ng-repeat="item in obj" 
                        class="list-group-item">
                        {{ item.title }}
                        <span data-ng-show="item.emergency" class="emergency-icon glyphicon glyphicon-alert" aria-hidden="true"></span>
                    </p>
                </div>
            </div>
        </div>        
    </div>
    <div class="alert alert-warning text-center" data-ng-show="!hasIssues()">
    	No issues recorded! why don't you <a ui-sref="updateIssues">add some</a>?
    </div>
</section>