<section data-ng-controller="IssuesController">
    <div class="page-header">
        <h1>Update Issues</h1>
    </div>
    <div class="create-issue-container col-md-12">
        <form class="form-horizontal create-issue-form" data-ng-submit="update()" novalidate>
            <div data-ng-include="'modules/issues/partials/create-issue-checklist.client.view.html'"
                 data-ng-repeat="updateView in [true]">
            </div>
            <!-- using ng-repeat to give context to the partial... http://stackoverflow.com/questions/13422966/how-to-specify-model-to-a-nginclude-directive-in-angularjs/20639139#20639139 -->
            <fieldset>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>