<div class="language-select" dropdown>
      <!-- <span class="language-select-toggle" dropdown-toggle translate>
            directives.language-select.Language
      </span> -->
      <a  class="language-select-toggle option"
          ng-click="changeLanguage(newLocaleName)">
          {{ newLocaleName }}
      </a>

<!--       <ul class="dropdown-menu language-select-menu" aria-labelledby="simple-dropdown">
            <li>
                 <a ng-repeat="lang in localesDisplayNames" ng-bind="lang" ng-click="changeLanguage(lang)"></a>
            </li>
      </ul> -->
<div>
