<section class="onboarding-user-create">

  <h1>Create Account</h1>
  <p>Your account will store your history and case details for you. This information will never be shared without asking for your permission first.</p>
  <form name="create-user" class="container">
  	<div class="form-group">
			<label>First Name</label><br/>
			<input type="text" placeholder="First Name" name="First Name" ng-model="userInfo.firstName"><br/>
		</div>
		
		<div class="form-group">
			<label>Last Name</label><br/>
			<input type="text" placeholder="Last Name" name="Last Name" ng-model="userInfo.lastName"><br/>
		</div>
		
		<!-- probably should reapproach this -->
		<div class="form-group">
			<label>Borough</label><br/>
			<input type="button" value="Brooklyn" class="btn btn-default borough" ng-class="{'selected': userInfo.borough === 'Brooklyn'}" ng-click="userInfo.borough = 'Brooklyn'">
			<input type="button" value="Queens" class="btn btn-default borough" ng-class="{'selected': userInfo.borough === 'Queens'}" ng-click="userInfo.borough = 'Queens'">
			<input type="button" value="Bronx" class="btn btn-default borough" ng-class="{'selected': userInfo.borough === 'Bronx'}" ng-click="userInfo.borough = 'Bronx'">
			<input type="button" value="Manhattan" class="btn btn-default borough" ng-class="{'selected': userInfo.borough === 'Manhattan'}" ng-click="userInfo.borough = 'Manhattan'">
			<input type="button" value="Staten Island" class="btn btn-default borough" ng-class="{'selected': userInfo.borough === 'Staten Island'}" ng-click="userInfo.borough = 'Staten Island'">
		</div>
		
		<div class="form-group">
			<label>Street Address</label><br/>
			<input type="text" placeholder="Street Address" name="streetz" ng-model="userInfo.address "><br/>
		</div>

		<div class="form-group apt">
			<label>Apartment #</label><br>
			<input type="text" placeholder="Apt" name="apt" ng-model="userInfo.unit"><br/>
		</div>

		<div class="form-group">
			<label>Do you live in NYCHA housing?</label><br/>
			<button class="btn btn-default nycha" ng-class="{'selected': userInfo.nycha === 'yes'}" ng-click="userInfo.nycha = 'yes'">Yes</button>
			<button class="btn btn-default nycha" ng-class="{'selected': userInfo.nycha === 'no'}" ng-click="userInfo.nycha = 'no'">No</button>
		</div>
		
		<div class="form-group">
			<label>Phone Number <italic>This will be your username</italic></label><br/>
			<input type="text" placeholder="Phone #" name="phone" ng-model="userInfo.phone"><br/>
		</div>
		
		<div class="form-group">
			<label>Email Address</label><br/>
			<input type="text" placeholder="yourname@domain.com" name="email" ng-model="userInfo.email"><br/>
		</div>
		
		<div class="form-group">
			<label>Create password for your account</label><br/>
			<input type="text" placeholder="password" name="pw" ng-model="userInfo.password"><br/>
		</div>
		
		<div class="form-group">
			<label>Re-enter Password</label><br/>
			<input type="text" placeholder="verify" name="pwpt2"><br/>
		</div>

		<div type="button" class="btn btn-default back pull-left" ng-click="back()">
			Back
		</div>
		<div type="button" class="btn btn-primary create-btn pull-right" ng-click="createAndNext()">
			Create Account
		</div>

  </form>
</section>
