<section class="onboarding-user-create">

  <h1>Create Account</h1>
  <form name="createUser">
		<label>First Name</label><br/>
		<input type="text" placeholder="First Name" name="First Name" ng-model="userInfo.firstName"><br/>
		<br />

		<label>Last Name</label><br/>
		<input type="text" placeholder="Last Name" name="Last Name" ng-model="userInfo.lastName"><br/>
		<br/>
		
		<!-- probably should reapproach this -->
		<label>Borough</label><br/>
		<input type="button" value="Bronx" class="btn btn-default borough" ng-class="{'selected': userInfo.borough === 'Bronx'}" ng-click="userInfo.borough = 'Bronx'">
		<input type="button" value="Brooklyn" class="btn btn-default borough" ng-class="{'selected': userInfo.borough === 'Brooklyn'}" ng-click="userInfo.borough = 'Brooklyn'">
		<input type="button" value="Manhattan" class="btn btn-default borough" ng-class="{'selected': userInfo.borough === 'Manhattan'}" ng-click="userInfo.borough = 'Manhattan'">
		<input type="button" value="Queens" class="btn btn-default borough" ng-class="{'selected': userInfo.borough === 'Queens'}" ng-click="userInfo.borough = 'Queens'">
		<input type="button" value="Staten Island" class="btn btn-default borough" ng-class="{'selected': userInfo.borough === 'Staten Island'}" ng-click="userInfo.borough = 'Staten Island'">
		<br/>

		<label>Street Address</label><br/>
		<input type="text" placeholder="Street Address" name="streetz" ng-model="userInfo.address "><br/>
		<br/>

		<label>Apartment #</label><br>
		<input type="text" placeholder="Apt" name="apt" ng-model="userInfo.unit"><br/>
		<br/>

		<label>Do you live in NYCHA housing?</label><br/>
		<button class="btn btn-default nycha" ng-class="{'selected': userInfo.nycha === 'yes'}" ng-click="userInfo.nycha = 'yes'">Yes</button>
		<button class="btn btn-default nycha" ng-class="{'selected': userInfo.nycha === 'no'}" ng-click="userInfo.nycha = 'no'">No</button>
		<br/>

		<label>Phone Number <italic>This will be your username</italic></label><br/>
		<input type="text" placeholder="Phone #" name="phone" ng-model="userInfo.phone"><br/>
		<br/>

		<label>Email Address</label><br/>
		<input type="text" placeholder"yourname@domain.com" name="email" ng-model="userInfo.email"><br/>
		<br/>

		<label>Create password for your account</label><br/>
		<input type="text" placeholder"password" name="pw" ng-model="userInfo.password"><br/>
		<br/>

		<label>Re-enter Password</label><br/>
		<input type="text" placeholder"verify" name="pwpt2"><br/>
		<br/>

		<input type="button" class="btn btn-primary" value="Back" ng-click="back()">
		<input type="button" class="btn btn-primary" value="Create Account" ng-click="createAndNext()">

  </form>
</section>
