<section>
  <h2>Welcome to<br/>JustFix.nyc!</h2>
  <p>Please enter the access code provided by your advocate so you can gain access to the website</p>
  <div class="error-text alert alert-danger" ng-show="majorError">Whoa, looks like we're having some trouble on our end. Please refresh this page and try again.</div>
  <form class="access-code-form">
	  <label>Access Code</label><br/>
	  <input type="text" placeholder="Starts with..." ng-model="inputCode">
	  <br/>
	  <input type="submit" class="btn btn-primary" value="Get Started" ng-click="createUser(inputCode)">
  </form>
  <div class="error-text alert alert-danger" ng-show="codeError">Uh oh! There was an error with this code. Please double check the code entered is correct and try again.</div>
</section>
