<section class="kyr-detail container">
  <h3>{{kyr.title}}</h3>
  <p><i>{{kyr.excerpt}}</i></p>
  <div class="section" ng-class="{hidden: section.readMore && expand == false}">
		<div data-ng-bind-html="content" compile-template></div>
  </div>
	<div class="learn-more-block" ng-class="{hidden: canExpand == true && expand == false}">
		<p><b>Want to learn more?</b></p>
		<a class="learn-more-kyr" ng-repeat="block in kyr.learnMore" ng-href="{{block.link}}">{{block.title}}</a>
	</div>
  <div ng-show="canExpand">
		<button class="btn btn-block btn-default col-xs-7" ng-click="expand = !expand">
			<span ng-show="!expand">Read More</span>
			<span ng-show="expand">Hide More</span>
		</button>
  </div>
  <div class="clearfix"></div>


  <div class="prev-next-wrapper">
  	<a class="prev pull-left" ng-show="kyr.prev" ng-href="#!/kyr/{{kyr.prev}}">
  		<span class="glyphicon glyphicon-menu-left"></span> Previous
  	</a>
  	<a class="next pull-right" ng-show="kyr.next" ng-href="#!/kyr/{{kyr.next}}">
  		Next <span class="glyphicon glyphicon-menu-right"></span>
  	</a>
  	<div class="clearfix"></div>
  </div>


  <div class="footer-links">
  	<a ui-sref="listActions">
			<div class="footer-link phone pull-left col-xs-6 pull-left">
	      <img src="/modules/core/img/sections/action.svg" alt="Take Action" />
	      <br/>
	      <br/>
				<span>Take Action</span>
			</div>
		</a>
		<a href="#!/home">
			<div class="footer-link phone pull-left col-xs-6 pull-right">
	      <img src="/modules/core/img/sections/help.svg" alt="Find Help" />
	      <br/>
	      <br/>
				<span>Find Help</span>
			</div>
		</a>
  </div>
</section>
