<section class="row" data-ng-controller="SettingsController">
	<div class="page-header">
		<h1 class="col-md-12 text-center">{{'modules.users.views.settings.changePassword.title' | translate}}</h1>
	</div>
	<div class="col-xs-12">
		<form name="passwordCreate" data-ng-submit="changeUserPassword()" class="signin" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="currentPassword">{{'modules.users.views.settings.changePassword.current' | translate}}</label>
					<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="{{'modules.users.views.settings.changePassword.current' | translate}}">
				</div>


				<div class="form-group" ng-class="{ 'has-error' : passwordCreate.$submitted && passwordCreate.pw.$invalid }">
					<label class="control-label" for="pw">{{'modules.users.views.settings.changePassword.new' | translate}} <span ng-bind-html="'modules.users.views.settings.changePassword.newExtend' | trustTranslate"></label>
					<input class="form-control" type="password" placeholder="{{'modules.users.views.settings.changePassword.new' | translate}}" id="pw1" name="pw" ng-model="passwordDetails.newPassword" ng-minlength="6" required>
					<div ng-show="passwordCreate.$submitted || passwordCreate.pw.$touched">
						<p ng-show="passwordCreate.pw.$error.required" class="text-danger">{{'modules.users.views.settings.changePassword.required' | translate}}</p>
						<p ng-show="passwordCreate.pw.$error.minlength" class="text-danger">{{'modules.users.views.settings.changePassword.minlenth' | translate}}</p>
					</div>
				</div>

				<div class="form-group pw-check-field" ng-class="{ 'has-error' : passwordCreate.$submitted && passwordCreate.pw2.$invalid }">
					<input class="form-control" type="password" placeholder="{{'modules.users.views.settings.changePassword.confirm' | translate}}" ng-model="passwordDetails.verifyPassword" name="pw2" pw-check="pw1" ng-minlength="6" required>
					<div ng-show="passwordCreate.$submitted || passwordCreate.pw2.$touched">
						<p ng-show="passwordCreate.pw2.$error.required" class="text-danger">{{'modules.users.views.settings.changePassword.confirmEmpty' | translate}}</p>
						<p ng-show="passwordCreate.pw2.$error.pwmatch" class="text-danger">{{'modules.users.views.settings.changePassword.confirmWrong' | translate}}</p>
					</div>
				</div>

				<div data-ng-show="success" class="text-center text-success">
					<strong>{{'modules.users.views.settings.changePassword.success' | translate}}</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

				<div class="form-group">
					<a ui-sref="settings.profile">
						<button class="btn btn-default pull-left col-xs-4">{{'modules.users.views.settings.changePassword.cancel' | translate}}</button>
					</a>
					<input type="submit" class="btn btn-large btn-primary pull-right col-xs-7 col-md-4" value="{{'modules.users.views.settings.changePassword.save' | translate}}">
				</div>
			</fieldset>
		</form>
	</div>
</section>
