<!-- <section class="row" data-ng-controller="SettingsController"> -->
<section data-ng-controller="SettingsController">
  <div class="page-header">
  	<h1>{{::'modules.users.views.settings.editProfile.title' | translate}}</h1>
  </div>
  <div class="row">
  <!-- <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-12"> -->
    <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal edit-profile-form col-xs-12 col-md-12" autocomplete="off">
      <div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.firstName.$invalid }">
				<label class="control-label" for="firstName">{{::'modules.onboarding.partials.onboardingDetails.firstName' | translate}}</label>
				<input class="form-control" type="text" placeholder="{{::'modules.onboarding.partials.onboardingDetails.firstName' | translate}}" name="firstName" ng-model="user.firstName" required>
				<div ng-show="userForm.$submitted || userForm.firstName.$touched">
					<p ng-show="userForm.firstName.$error.required" class="text-danger">{{::'modules.onboarding.partials.onboardingDetails.firstNameError' | translate}}</p>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.lastName.$invalid }">
				<label class="control-label" for="lastName">{{::'modules.onboarding.partials.onboardingDetails.lastName' | translate}}</label>
				<input class="form-control" type="text" placeholder="{{::'modules.onboarding.partials.onboardingDetails.lastName' | translate}}" name="lastName" ng-model="user.lastName" required>
				<div ng-show="userForm.$submitted || userForm.lastName.$touched">
					<p ng-show="userForm.lastName.$error.required" class="text-danger">{{::'modules.onboarding.partials.onboardingDetails.lastNameError' | translate}}</p>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.borough.$invalid }">
				<label class="control-label" for="borough">{{::'modules.onboarding.partials.onboardingDetails.borough' | translate}}</label>
				<div class="controls">
					<label class="btn btn-default" ng-model="user.borough" btn-radio="'Brooklyn'" name="borough" required>{{::'modules.onboarding.partials.onboardingDetails.brooklyn' | translate}}</label>
					<label class="btn btn-default" ng-model="user.borough" btn-radio="'Queens'" name="borough" required>{{::'modules.onboarding.partials.onboardingDetails.queens' | translate}}</label>
					<label class="btn btn-default" ng-model="user.borough" btn-radio="'Bronx'" name="borough" required>{{::'modules.onboarding.partials.onboardingDetails.bronx' | translate}}</label>
					<label class="btn btn-default" ng-model="user.borough" btn-radio="'Manhattan'" name="borough" required>{{::'modules.onboarding.partials.onboardingDetails.manhattan' | translate}}</label>
					<label class="btn btn-default" ng-model="user.borough" btn-radio="'Staten Island'" name="borough" required>{{::'modules.onboarding.partials.onboardingDetails.statenIsland' | translate}}</label>
				</div>
				<div ng-show="userForm.$submitted || userForm.borough.$touched">
					<p ng-show="userForm.borough.$error.required" class="text-danger">{{::'modules.onboarding.partials.onboardingDetails.errorBorough' | translate}}</p>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.address.$invalid }">
				<label class="control-label" for="address">{{::'modules.users.views.settings.editProfile.address' | translate}}</label>
				<input class="form-control" type="text" placeholder="{{::'modules.users.views.settings.editProfile.title' | translate}}" name="address" ng-model="user.address" required>
				<div ng-show="userForm.$submitted || userForm.address.$touched">
					<p ng-show="userForm.address.$error.required" class="text-danger">{{::'modules.onbarding.partials.onboardingDetails.errorAddress' | translate}}</p>
				</div>
			</div>

			<div class="form-group apt-field" ng-class="{ 'has-error' : userForm.$submitted && userForm.unit.$invalid }">
				<label class="control-label" for="unit">{{::'modules.onboarding.partials.onboardingDetails.apt' | translate}}</label>
				<input class="form-control" type="text" placeholder="{{::'modules.onboarding.partials.onboardingDetails.apt' | translate}}" name="unit" ng-model="user.unit" required>
				<div ng-show="userForm.$submitted || userForm.unit.$touched">
					<p ng-show="userForm.unit.$error.required" class="text-danger">{{::'modules.onboarding.partials.onboardingDetails.aptError' | translate}}</p>
				</div>
			</div>

      <div class="form-group">
				<fieldset>
						<div data-ng-show="error.errors" class="alert alert-danger">
								<strong data-ng-repeat="err in error.errors">
									<p data-ng-bind="err.message"></p>
									<span ng-bind-html="::'modules.onboarding.partials.onboardingDetails.errorMsg' | trustTranslate" compile-template></span>
								</strong>
						</div>
						<div data-ng-show="error && !error.errors" class="alert alert-danger">
								<strong>
									<p data-ng-bind="error"></p>
									<span ng-bind-html="::'modules.onboarding.partials.onboardingDetails.errorMsg' | trustTranslate" compile-template></span>
								</strong>
						</div>
						<div data-ng-show="userError" class="alert alert-danger">
								<strong>
									{{::'modules.users.views.settings.editProfile.error' | translate}}
								</strong>
						</div>
				</fieldset>

		    <div class="row">
		      <div class="col-xs-8 col-xs-offset-4">
		        <input type="submit"  class="btn btn-primary btn-block pull-right" value="{{::'modules.users.views.settings.editProfile.submit' | translate}}">
		      </div>
		    </div>
			</div>
    </form>
  </div>
</section>
