<div class="page-header">
	<h1>Profile</h1>
</div>
<div class="user-profile">
	<p>Name</p>
	<p>Number</p>
	<p>address 1</p>
	<p>Address 2</p>
	<p>City etc etc</p>
	<br/>
	<p><strong>Advocate Information:</strong></p>
	<p>Name</p>
	<p>Organization</p>
	<p>phone number</p>
	<p>Email</p>
	<br/>
	<div class="user-container">
		<a sref="user.edit">
			Edit my profile <span class="glyphicon glyphicon-menu-right pull-right"></span>
		</a>
		<a sref="user.number">
			Change phone number <span class="glyphicon glyphicon-menu-right pull-right"></span>
		</a>
		<a href="user.password">
			Change password <span class="glyphicon glyphicon-menu-right pull-right"></span>
		</a>
	</div>
	<br/>
	<div class="btn-wrap">
		<a class="btn btn-primary col-xs-4">Sign out</a>
	</div>
</div>