html, body {
  overflow-x: hidden; }

body {
  background-color: #F6F6F6; }

a.text-link {
  color: #8CC152;
  font-size: 16px;
  text-decoration: underline; }
  a.text-link:active, a.text-link:focus, a.text-link:hover {
    color: #A0D468; }

.text-success {
  color: #8CC152 !important; }

.text-danger {
  color: #DA4453 !important; }

h2 {
  font-weight: 600;
  font-size: 16px; }

h3 {
  font-weight: 600;
  font-size: 14px; }

.content section.container {
  min-height: 300px; }

.undecorated-link:hover {
  text-decoration: none; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.ng-invalid.ng-dirty {
  border-color: #FA787E; }

.ng-valid.ng-dirty {
  border-color: #78FA89; }

.page-header {
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: none; }
  .page-header small {
    display: block;
    text-align: center; }
  .page-header img {
    display: block;
    width: 35px;
    margin: 0 auto 10px auto; }
  .page-header h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 400;
    text-align: center; }
  .page-header p {
    margin: 15px 0 0 0; }

.section-header {
  margin-left: -15px;
  margin-right: -15px;
  padding: 1em 0;
  margin-bottom: 15px;
  background-color: #0E6594; }
  .section-header::after {
    clear: both;
    content: "";
    display: table; }
  .section-header h2 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px; }
    .section-header h2::after {
      clear: both;
      content: "";
      display: table; }
  .section-header.bg-danger {
    background-color: #E85D5D; }

.btn:not(.btn-sm), .form-control {
  padding-top: 10px;
  padding-bottom: 10px; }

.btn-block {
  max-width: 180px;
  margin: 0 auto; }
  .btn-block.initial {
    float: none !important; }

.btn .glyphicon {
  padding-top: 2px;
  padding-right: 5px; }

.img-thumbnail {
  border-radius: 0;
  padding: 0; }

.language-select {
  position: relative; }
  .language-select .language-select-toggle {
    display: inline-block;
    padding-top: 15px; }
  .language-select .language-select-menu {
    top: 55px; }

.no-gutter [class*="col"] {
  padding: 0; }

footer {
  margin-top: 75px; }

loading.ng-enter, loading.ng-leave-active {
  opacity: 0; }
loading.ng-enter-active, loading.ng-leave {
  opacity: 1; }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  z-index: 1000; }
  .loading > div {
    height: 75px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .loading p {
    margin-top: 5px;
    color: #fff;
    text-align: center; }

.sk-fading-circle {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative; }

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #e6e6e6;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both; }

.sk-fading-circle.circle-dark .sk-circle:before {
  background-color: #434A54; }

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0; }
  40% {
    opacity: 1; } }
@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0; }
  40% {
    opacity: 1; } }
.modal-dialog {
  margin: 20px; }
  @media (min-width: 768px) {
    .modal-dialog {
      margin: 30px auto; } }

.modal-title {
  font-size: 18px;
  color: #434A54;
  font-weight: 600;
  line-height: 1.3;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }
  .modal-title .glyphicon {
    top: 3px;
    font-size: 20px; }

.modal-body {
  overflow: hidden; }
  .modal-body .modal-issue-list {
    padding-left: 30px;
    margin-bottom: 0; }
  .modal-body .btn-group {
    width: 100%; }
    .modal-body .btn-group .btn {
      text-align: left; }
  .modal-body .ui-select-bootstrap .dropdown-menu li a {
    color: #fff; }
    .modal-body .ui-select-bootstrap .dropdown-menu li a:hover, .modal-body .ui-select-bootstrap .dropdown-menu li a:focus {
      color: #262626; }
  .modal-body .ui-select-toggle {
    min-height: 40px; }
  .modal-body img {
    margin: 0 auto 10px auto;
    display: block;
    max-height: 250px;
    max-width: 100%; }

header {
  z-index: 1000;
  border: 1px solid transparent; }

#header-wrapper {
  height: 50px;
  margin-bottom: 20px; }
  @media (min-width: 992px) {
    #header-wrapper {
      height: 70px; } }

#header {
  height: 50px;
  background-color: #0096D7;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }
  @media (min-width: 992px) {
    #header {
      height: 70px; } }
  #header > .container {
    position: relative;
    height: 40%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  #header .header-brand {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #454545;
    height: 100%; }
    #header .header-brand > .logo {
      height: 100%;
      width: auto; }
  #header .header-btn {
    display: inline-block;
    position: relative;
    height: 100%;
    color: #fff;
    font-size: 20px;
    line-height: 20px; }
    @media (min-width: 992px) {
      #header .header-btn {
        font-size: 28px;
        line-height: 28px;
        top: 0; } }
    #header .header-btn.pull-left {
      margin-right: 15px; }
    #header .header-btn.pull-right {
      margin-left: 15px; }
    #header .header-btn.header-home {
      top: -1px; }

#header-wrapper.left {
  height: 70px; }
  #header-wrapper.left #header {
    height: 70px;
    background-color: transparent;
    position: static; }
    #header-wrapper.left #header > .container {
      text-align: left; }
    #header-wrapper.left #header .header-brand {
      position: static;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none; }

#header-wrapper.light-bg .header-brand > .logo > svg * {
  fill: #434A54; }
#header-wrapper.light-bg .header-btn {
  color: #434A54; }

.sign-in-button {
  margin-top: 10px;
  margin-right: 15px;
  display: none; }
  @media (max-width: 768px) {
    .sign-in-button {
      display: inline-block; } }
  @media (min-width: 480px) {
    .sign-in-button {
      margin-top: 20px; } }

#landing {
  margin-top: -90px; }
  #landing section {
    padding: 15px 0; }
    #landing section.above-fold {
      margin-top: 0; }
      #landing section.above-fold .above-fold-content {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 10;
        color: #fff; }
        @media (max-width: 767px) {
          #landing section.above-fold .above-fold-content {
            top: 45%; } }
        #landing section.above-fold .above-fold-content h3 {
          margin-top: 0; }
          @media (min-width: 480px) {
            #landing section.above-fold .above-fold-content h3 {
              font-size: 45px; } }
        #landing section.above-fold .above-fold-content p.lead {
          font-weight: 500; }
        #landing section.above-fold .above-fold-content .btn {
          max-width: 300px;
          margin: 0 auto;
          font-weight: 600; }
          @media (min-width: 768px) {
            #landing section.above-fold .above-fold-content .btn {
              font-size: 20px;
              line-height: 1.5;
              height: 50px; } }
          #landing section.above-fold .above-fold-content .btn.btn-primary {
            background-color: #0096D7; }
            #landing section.above-fold .above-fold-content .btn.btn-primary:hover, #landing section.above-fold .above-fold-content .btn.btn-primary:focus, #landing section.above-fold .above-fold-content .btn.btn-primary:active {
              background-color: #0bb5ff; }
          #landing section.above-fold .above-fold-content .btn.btn-link {
            color: #fff;
            text-decoration: underline; }
      #landing section.above-fold:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 125%;
        background: url("http://degy28l8twq8c.cloudfront.net/brownstones_small.jpg") no-repeat center;
        background-size: cover;
        z-index: -1; }
      @media (min-width: 480px) {
        #landing section.above-fold:before {
          background: url("http://degy28l8twq8c.cloudfront.net/brownstones.jpg") no-repeat center;
          background-size: cover; } }
    #landing section.features {
      position: relative; }
      @media (min-width: 480px) {
        #landing section.features {
          padding: 150px 0; } }
      @media (min-width: 992px) {
        #landing section.features .features-content {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); } }
      #landing section.features .box {
        padding: 15px;
        background-color: #fff;
        border: 1px solid #eee; }
      #landing section.features .manifesto-link {
        text-decoration: underline;
        color: #0096D7; }
        #landing section.features .manifesto-link:hover, #landing section.features .manifesto-link:focus, #landing section.features .manifesto-link:active {
          color: #0bb5ff; }
      @media (max-width: 767px) {
        #landing section.features h1, #landing section.features h2 {
          font-size: 30px; } }
      #landing section.features.white-bg:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        width: 200%;
        left: -50%;
        height: 100%;
        background-color: #fff;
        z-index: -1; }
      #landing section.features:after {
        content: "";
        position: absolute;
        width: 200%;
        left: -50%;
        height: 1px;
        bottom: 0;
        background-color: #d2d5e2;
        z-index: 25; }
      @media (max-width: 1199px) {
        #landing section.features.main-idea {
          padding-left: 15px;
          padding-right: 15px; } }
      #landing section.features.main-idea p.lead {
        margin: 0 auto; }
      #landing section.features.features-demo {
        padding: 0; }
        @media (max-width: 767px) {
          #landing section.features.features-demo {
            margin-bottom: 50px; }
            #landing section.features.features-demo:before {
              box-sizing: content-box;
              padding-bottom: 50px; }
            #landing section.features.features-demo:after {
              bottom: -50px; } }
        #landing section.features.features-demo .features-content-description {
          position: relative;
          top: 30px; }
          @media (min-width: 992px) {
            #landing section.features.features-demo .features-content-description {
              top: 50%;
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }
          @media (max-width: 991px) {
            #landing section.features.features-demo .features-content-description {
              position: absolute;
              top: 15px; } }
          #landing section.features.features-demo .features-content-description svg {
            height: 150px;
            display: none; }
            @media (min-width: 992px) {
              #landing section.features.features-demo .features-content-description svg {
                display: inline; } }
        #landing section.features.features-demo .features-content-demo {
          height: 100%;
          overflow: hidden;
          padding-top: 15px; }
          @media (min-width: 992px) {
            #landing section.features.features-demo .features-content-demo {
              padding-top: 125px; } }
          @media (max-width: 991px) {
            #landing section.features.features-demo .features-content-demo {
              height: 72%;
              position: absolute;
              bottom: 0;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%); } }
          @media (max-width: 767px) {
            #landing section.features.features-demo .features-content-demo {
              bottom: -50px; } }
          #landing section.features.features-demo .features-content-demo .phone-container {
            position: relative; }
            @media (max-width: 767px) {
              #landing section.features.features-demo .features-content-demo .phone-container .phone-bg {
                width: 294px; } }
            #landing section.features.features-demo .features-content-demo .phone-container .phone-screen {
              position: absolute;
              top: 90px;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%);
              z-index: 10; }
              @media (max-width: 767px) {
                #landing section.features.features-demo .features-content-demo .phone-container .phone-screen {
                  width: 270px; } }
      @media (max-width: 767px) {
        #landing section.features.your-case {
          padding: 15px; }
          #landing section.features.your-case > div {
            padding: 0; } }
    #landing section.manifesto-idea {
      padding: 75px 0 0 0; }
      #landing section.manifesto-idea h1 {
        margin-top: 0; }
      #landing section.manifesto-idea p.lead {
        margin-bottom: 0; }
      #landing section.manifesto-idea a {
        color: #0096D7; }
      #landing section.manifesto-idea a:hover {
        text-decoration: underline;
        background-color: #0bb5ff; }

.learn-more {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #656f7f; }
  .learn-more:hover {
    cursor: pointer; }
  .above-fold .learn-more {
    color: #fff; }
  .features-demo .learn-more {
    left: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; }
    @media (max-width: 991px) {
      .features-demo .learn-more {
        display: none; } }
  .learn-more.col-md-push-7 {
    left: 58.33333%; }
  .learn-more span {
    font-size: 30px;
    line-height: 24px;
    display: inline-block;
    -webkit-transform: scale(1.5, 1);
    /* Safari and Chrome */
    -moz-transform: scale(1.5, 1);
    /* Firefox */
    -ms-transform: scale(1.5, 1);
    /* IE 9 */
    -o-transform: scale(1.5, 1);
    /* Opera */
    transform: scale(1.5, 1);
    /* W3C */ }

#dashboard .grid {
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 2px solid #E6E9ED; }
  #dashboard .grid::after {
    clear: both;
    content: "";
    display: table; }
  #dashboard .grid a {
    display: block;
    padding: 1.5em;
    text-align: center;
    font-size: 16px;
    color: #434A54;
    border-top: 2px solid #E6E9ED;
    background-color: #fff; }
    #dashboard .grid a:nth-child(odd) {
      border-right: 2px solid #E6E9ED; }
    #dashboard .grid a img {
      display: block;
      margin: 0 auto 10px auto;
      height: 50px;
      width: auto; }
  @media (max-width: 360px) {
    #dashboard .grid a {
      font-size: 14px; } }
  @media (min-width: 768px) {
    #dashboard .grid {
      border-bottom: none; }
      #dashboard .grid a {
        font-size: 17px;
        padding: 3em;
        border-left: 2px solid #E6E9ED;
        border-right: 2px solid #E6E9ED;
        border-bottom: 2px solid #E6E9ED;
        margin: 0 8.3% 30px 8.3%; } }

@media (min-width: 992px) {
  .nav-users {
    position: fixed; } }
.user-profile p {
  margin: 0; }
.user-profile .user-container a {
  display: block;
  background: #fff;
  padding: 10px 15px;
  border: 1px solid #eeeeee;
  border-top: none;
  color: #555555;
  cursor: pointer; }
.user-profile .btn {
  float: none; }

.remove-account-container {
  display: inline-block;
  position: relative; }

.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute; }

.edit-profile-form .form-group {
  margin-left: 0;
  margin-right: 0; }
.edit-profile-form .btn {
  margin: 2px 0; }
  .edit-profile-form .btn.btn-step {
    width: 100%; }

.create-issue-tabs li.active > a {
  /*background-color: $gray-lighter;*/ }

.emergency-icon {
  padding-left: 5px;
  color: #F6BB42; }

.create-issue-container {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff; }
  .create-issue-container h4 {
    margin-top: 0; }
  .create-issue-container hr {
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: 1px solid #ddd; }

.create-issue-form .form-group {
  margin-left: 0;
  margin-right: 0; }
.create-issue-form .btn {
  margin: 2px 0; }
  .create-issue-form .btn.btn-step {
    width: 100%;
    max-width: 300px; }

.create-issue-checklist .badge {
  float: right; }
.create-issue-checklist .panel-group {
  margin-bottom: 0; }
.create-issue-checklist .panel-group-lists .panel:first-child {
  border-top: 1px solid #E6E9ED; }
.create-issue-checklist .panel-group-lists .panel-title .checklist-title {
  display: inline-block;
  width: 50%; }
.create-issue-checklist .panel-group-lists .panel-title a {
  padding: 15px; }
.create-issue-checklist .panel-group-lists .panel-title a:hover, .create-issue-checklist .panel-group-lists .panel-title a:focus, .create-issue-checklist .panel-group-lists .panel-title a:active {
  color: #434A54; }
.create-issue-checklist .panel-body {
  padding: 0 !important; }
  .create-issue-checklist .panel-body .list-group {
    margin-bottom: 0; }
  .create-issue-checklist .panel-body .list-group-item {
    border-left: 0;
    border-right: 0;
    background-color: #F5F7FA;
    padding-right: 50px;
    position: relative; }
    .create-issue-checklist .panel-body .list-group-item:first-child, .create-issue-checklist .panel-body .list-group-item:last-child {
      border-radius: 0; }
    .create-issue-checklist .panel-body .list-group-item:first-child {
      border-top: 1px solid #AAB2BD; }
    .create-issue-checklist .panel-body .list-group-item .selected-icon {
      position: absolute;
      right: 15px;
      top: 12px; }
  .create-issue-checklist .panel-body .list-group-item-info:hover,
  .create-issue-checklist .panel-body .list-group-item-info:focus,
  .create-issue-checklist .panel-body .list-group-item-info {
    color: #F5F7FA;
    border-color: #AAB2BD;
    background-color: #0096D7; }
  .create-issue-checklist .panel-body .area-done-button {
    background-color: #F5F7FA;
    border-top: 1px solid #E6E9ED;
    border-bottom: 1px solid #AAB2BD; }
    .create-issue-checklist .panel-body .area-done-button .btn {
      margin: 10px auto; }

.actions-container {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s; }
  .actions-container .btn-block.initial {
    float: none !important; }

.panel-content {
  margin-bottom: 15px; }

.status-panel .panel-content {
  font-size: 18px;
  color: #434A54;
  font-weight: 600;
  line-height: 1.3; }

.action-panel .panel-title {
  font-size: 18px;
  color: #434A54;
  font-weight: 600;
  line-height: 1.3;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }
.action-panel .panel-body {
  padding-top: 0; }

.input-group .form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 41px; }

.update-activity-form .btn-mult {
  margin: 2px; }

.letter-steps {
  width: 100%;
  position: relative;
  overflow: scroll;
  -webkit-transition: height 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: height 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: height 400ms cubic-bezier(0.165, 0.84, 0.44, 1); }

.letter-step {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 150px; }
  .letter-step.ng-enter, .letter-step.ng-leave {
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1); }
  .letter-step.ng-enter {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  .letter-step.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .letter-step.ng-leave {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .letter-step.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }

.letter-step-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .letter-step-loading p {
    margin-bottom: 0; }

.letter-step-created a.text-link {
  margin-left: 10px; }

.activities-container .share-section-header {
  margin-bottom: 0; }
.activities-container .share-section {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 30px;
  background-color: #fff; }
  .activities-container .share-section::after {
    clear: both;
    content: "";
    display: table; }
  .activities-container .share-section .share-controls {
    margin-bottom: 15px; }
  .activities-container .share-section h2 {
    margin-top: 20px; }
    .activities-container .share-section h2 span {
      line-height: 28px; }
  .activities-container .share-section .alert {
    margin-bottom: 30px; }
.activities-container .activity-panel {
  margin-left: -15px;
  margin-right: -15px; }
  .activities-container .activity-panel::after {
    clear: both;
    content: "";
    display: table; }
  .activities-container .activity-panel .panel-heading {
    padding-top: 15px;
    padding-bottom: 0; }
    .activities-container .activity-panel .panel-heading span {
      font-style: italic;
      font-size: 12px; }
    .activities-container .activity-panel .panel-heading h3 {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee; }
.activities-container .activity-panel-letter .glyphicon {
  font-size: 16px; }
.activities-container .activity-panel-letter a.text-link {
  margin-left: 10px;
  margin-bottom: 5px; }
.activities-container .activity-panel-letter a.instructions-toggle {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px; }
.activities-container .activity-panel-letter ol {
  padding-left: 15px; }
.activities-container .thumb-list {
  margin-top: 15px; }
  .activities-container .thumb-list > div {
    padding: 0; }
.activities-container img {
  height: 100%;
  max-height: 125px; }

.lightbox-nav .close {
  font-size: 40px;
  z-index: 10; }
.lightbox-nav .btn-group {
  display: none; }

.lightbox-image-container {
  top: 40px; }

.upload-thumb {
  clip: rect(0px, 60px, 200px, 0px); }

.photo-uploads-container {
  height: 150px;
  overflow: hidden; }

.onboarding-code-entry {
  text-align: center; }
  .onboarding-code-entry h3 {
    font-weight: 100; }
  .onboarding-code-entry p {
    margin: 2em 0; }
  .onboarding-code-entry label {
    text-align: left; }
  .onboarding-code-entry .access-code-form .btn {
    margin: 2em 0;
    padding: .75em 2.25em; }
  .onboarding-code-entry .referral p {
    margin: 0px;
    font-weight: 700; }

.problems .problem-wrap {
  margin: 0em auto 1em auto;
  border-radius: 10px;
  background: #E0E0E0;
  padding: 50px 0px;
  text-align: center;
  color: #262626;
  max-width: 150px;
  min-height: 150px; }
  .problems .problem-wrap .problem-icon {
    font-size: 2em; }
  .problems .problem-wrap.active {
    background: #0096D7;
    color: #eee; }
.problems .btn-primary {
  margin-top: 20px;
  margin-right: 20px; }
  @media (min-width: 768px) {
    .problems .btn-primary {
      margin-right: 40px; } }
  @media (min-width: 768px) {
    .problems .btn-primary {
      margin-right: 60px; } }
  @media (min-width: 1200px) {
    .problems .btn-primary {
      margin-right: 80px; } }
.problems .btn-default {
  margin-top: 20px;
  margin-left: 20px; }
  @media (min-width: 768px) {
    .problems .btn-default {
      margin-left: 40px; } }
  @media (min-width: 768px) {
    .problems .btn-default {
      margin-left: 60px; } }
  @media (min-width: 1200px) {
    .problems .btn-default {
      margin-left: 80px; } }

.issues-modal .close-modal {
  position: absolute;
  right: -13px;
  top: -11px;
  border-radius: 50%;
  background-color: #E0E0E0;
  padding: 8px 0;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer; }
.issues-modal .modal-header .modal-title {
  border-bottom: none;
  padding-bottom: 0; }
  .issues-modal .modal-header .modal-title .glyphicon {
    font-size: 24px;
    padding-right: 5px; }
  .issues-modal .modal-header .modal-title .badge {
    position: relative;
    top: 8px; }
.issues-modal .modal-body .selecter-options {
  border: 1px solid #E6E9ED; }
  .issues-modal .modal-body .selecter-options .selecter-item {
    padding: 10px; }
    .issues-modal .modal-body .selecter-options .selecter-item .input-group .btn.glyphicon {
      top: 0; }
    .issues-modal .modal-body .selecter-options .selecter-item.item-other:hover {
      background-color: #fff; }
.issues-modal .selection-module {
  margin: 0px 10px 10px 10px;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  height: 70vh;
  overflow: auto; }
.issues-modal .selector-plus {
  position: relative;
  top: -8px;
  width: 150px;
  height: 1.5em;
  font-size: 1.5em;
  line-height: 0.5em; }

.onboarding-user-create {
  text-align: center; }
  .onboarding-user-create h3 {
    margin-top: 0.5em;
    font-size: 2em;
    font-weight: 400; }
  .onboarding-user-create p {
    margin: 10px auto;
    max-width: 500px; }
  .onboarding-user-create form {
    margin: 10px auto;
    max-width: 500px; }
    .onboarding-user-create form .form-group {
      text-align: left; }
      .onboarding-user-create form .form-group.apt {
        width: 50%; }

.borough,
.nycha {
  margin: 0.25em;
  width: auto;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  transition: 0.2s all; }
  .borough.selected, .borough.active,
  .nycha.selected,
  .nycha.active {
    background: #0096D7;
    color: #fff; }

.onboarding-tutorial {
  margin-left: -15px;
  margin-right: -15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,0096d7+0,0e6594+100 */
  background: #6db3f2;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2ZGIzZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTZkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTY1OTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-radial-gradient(center, ellipse cover, #6db3f2 0%, #0096d7 0%, #0e6594 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #6db3f2 0%, #0096d7 0%, #0e6594 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #6db3f2 0%, #0096d7 0%, #0e6594 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#0e6594',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */
  color: #FFF;
  text-align: center; }
  .onboarding-tutorial::after {
    clear: both;
    content: "";
    display: table; }
  .onboarding-tutorial .body-wrap {
    margin: 0 20px; }
  .onboarding-tutorial .alert {
    position: relative;
    top: -22px;
    border-radius: 0px;
    color: white;
    text-align: left;
    margin-left: -15px;
    margin-right: -15px; }
    .onboarding-tutorial .alert::after {
      clear: both;
      content: "";
      display: table; }
    .onboarding-tutorial .alert .success-check {
      margin-right: 10px;
      padding: 5px;
      border-radius: 50%;
      background: white;
      color: #5cb85c; }
  .onboarding-tutorial .header {
    margin-bottom: 2em; }
  .onboarding-tutorial .icon {
    font-size: 2em;
    color: #0E6594; }
  .onboarding-tutorial .walkthrough h4 {
    margin-top: 0px; }
  .onboarding-tutorial .btn {
    margin: 3em 0;
    min-width: 100px; }

.kyr h3 {
  margin-top: 0.5em;
  font-size: 2em;
  font-weight: 400; }
.kyr .legal-disclaimer-body .btn-wrap {
  margin-top: 0.5em;
  text-align: center; }
.kyr .legal-disclaimer-trigger {
  margin-bottom: 1em;
  cursor: pointer; }

.kyr-container .kyr-item {
  display: block;
  background: #fff;
  padding: 10px 15px;
  border: 1px solid #eeeeee;
  border-top: none;
  color: #555555;
  cursor: pointer; }
  .kyr-container .kyr-item:first-child {
    border-top: 1px solid #eeeeee; }
  .kyr-container .kyr-item .pull-right {
    margin-top: 2px; }

.kyr-detail h3 {
  margin-top: 0.5em;
  font-size: 2em;
  font-weight: 400; }
.kyr-detail .learn-more-block {
  margin: 1.5em 0 1.5em 0; }
  .kyr-detail .learn-more-block a {
    display: block;
    text-align: left;
    text-decoration: underline;
    color: #5cb85c; }
.kyr-detail .btn-wrap {
  margin: 30px auto 50px auto;
  width: 100%;
  text-align: center;
  max-width: 500px; }
  .kyr-detail .btn-wrap .btn {
    width: 100%; }

.status-update {
  position: relative;
  background-color: #fff;
  margin-bottom: 20px;
  border: 2px solid #0096D7;
  border-radius: 4px;
  height: 43px;
  overflow: hidden; }
  .status-update.expanded {
    overflow: visible;
    height: auto; }
  @media (min-width: 768px) {
    .status-update {
      margin-bottom: 30px; } }
  .status-update .close {
    background-color: #0096D7;
    color: #fff;
    opacity: 1;
    text-shadow: none;
    font-size: 24px;
    border-radius: 100%;
    font-weight: 400;
    line-height: 0.7;
    padding: 3px 8px 6px 8px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 5;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
    .status-update .close:focus {
      outline: none; }
    .status-update .close span {
      vertical-align: middle; }
  .status-update .glyphicon-edit {
    position: absolute;
    top: 10px;
    right: 12px;
    color: #0096D7;
    font-size: 17px;
    z-index: 0; }
  .status-update .status-update-open {
    overflow: auto;
    padding: 10px 12px;
    position: relative;
    z-index: 1; }
    .status-update .status-update-open .form-control {
      border: none;
      padding: 0;
      background-color: transparent; }
    .status-update .status-update-open .text-danger {
      font-weight: 600; }
    .status-update .status-update-open .image-preview img {
      max-height: 40px;
      width: auto;
      margin-top: 6px;
      margin-right: 10px; }
    .status-update .status-update-open .status-update-controls {
      overflow: auto;
      margin-bottom: 10px;
      border-bottom: 2px solid #E6E9ED; }
      .status-update .status-update-open .status-update-controls .select-photos {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-right: 6px; }
        .status-update .status-update-open .status-update-controls .select-photos .glyphicon-camera {
          font-size: 20px; }
      .status-update .status-update-open .status-update-controls .tag-issue-toggle {
        font-weight: 600;
        line-height: 36px; }
        .status-update .status-update-open .status-update-controls .tag-issue-toggle .glyphicon {
          margin-left: 4px;
          font-size: 10px;
          top: 12px; }
      .status-update .status-update-open .status-update-controls .tag-issue-list {
        margin-top: 28px; }
        .status-update .status-update-open .status-update-controls .tag-issue-list .list-group {
          box-shadow: none;
          margin-bottom: 0; }
        .status-update .status-update-open .status-update-controls .tag-issue-list .list-group-item {
          border-radius: 0;
          border: none;
          padding-top: 8px;
          padding-bottom: 8px; }
          .status-update .status-update-open .status-update-controls .tag-issue-list .list-group-item:focus {
            background-color: #fff;
            color: #555; }
          .status-update .status-update-open .status-update-controls .tag-issue-list .list-group-item:hover {
            background-color: #fff;
            color: #555; }
          .status-update .status-update-open .status-update-controls .tag-issue-list .list-group-item.list-group-item-primary {
            background-color: #0096D7;
            color: #fff; }
            .status-update .status-update-open .status-update-controls .tag-issue-list .list-group-item.list-group-item-primary:focus {
              background-color: #0096D7;
              color: #fff; }
      .status-update .status-update-open .status-update-controls.tagging {
        padding-bottom: 6px; }
        .status-update .status-update-open .status-update-controls.tagging .tag-issue-toggle {
          color: #0096D7; }

#admin .tab-content {
  background-color: #fff;
  padding-top: 20px; }

.admin-access-codes {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3; }

/*# sourceMappingURL=style.css.map */
