<section data-ng-controller="ActionsController" data-ng-init="list()">
    <div class="page-header">
        <h1>Things To Do</h1>
        <p><em>Here are some actions you can take to build out your case.</em></p>
    </div>
    <div class="actions-container">
      <to-do-item data-ng-repeat="action in actions"></to-do-item> 
    </div>
    <div class="alert alert-warning text-center" data-ng-show="actions.length === 0">
      There's nothing to do at the moment, apologies. Check your <a ui-sref="listActivity">timeline</a>?
    </div>    
</section>