<section data-ng-controller="ActionsController" data-ng-init="list()">
    <div class="page-header">
        <img src="/modules/core/img/sections/action.svg" alt="Take Action" />
        <h1>{{ 'modules.actions.views.listActions.title' | translate }}</h1>
        <p>{{'modules.actions.views.listActions.headerDescription' | translate}}</p>
    </div>
    <div ng-if="onceActions.length">
      <div class="section-header">
      <!-- <div class="section-header" ng-click="onceActionsCollapsed = !onceActionsCollapsed"> -->
        <h2>Things To Do
          <!-- <span class="pull-right glyphicon" ng-class="onceActionsCollapsed ? 'glyphicon-plus' : 'glyphicon-minus'"></span> -->
        </h2>
      </div>
      <!-- <div class="actions-container" collapse="onceActionsCollapsed"> -->
      <div class="actions-container">
        <to-do-item data-ng-repeat="action in onceActions"></to-do-item>
      </div>
    </div>
    <div ng-if="recurringActions.length">
      <!-- <div class="section-header" ng-click="recurringActionsCollapsed = !recurringActionsCollapsed"> -->
      <div class="section-header">
        <h2>Outreach
          <!-- <span class="pull-right glyphicon" ng-class="recurringActionsCollapsed ? 'glyphicon-plus' : 'glyphicon-minus'"></span> -->
        </h2>
      </div>
      <!-- <div class="actions-container" collapse="recurringActionsCollapsed"> -->
      <div class="actions-container">
        <to-do-item data-ng-repeat="action in recurringActions"></to-do-item>
      </div>
    </div>
    <div ng-if="legalActions.length">
      <!-- <div class="section-header bg-danger" ng-click="legalActionsCollapsed = !legalActionsCollapsed"> -->
      <div class="section-header bg-danger">
        <h2>Legal Actions
          <!-- <span class="pull-right glyphicon" ng-class="legalActionsCollapsed ? 'glyphicon-plus' : 'glyphicon-minus'"></span> -->
        </h2>
      </div>
      <!-- <div class="actions-container" collapse="legalActionsCollapsed"> -->
      <div class="actions-container">
        <to-do-item data-ng-repeat="action in legalActions"></to-do-item>
      </div>
    </div>




    <div class="alert alert-warning text-center" data-ng-show="onceActions.length === 0">
      There's nothing to do at the moment, apologies. Check out what is on <a ui-sref="listActivity">Your Case</a>?
    </div>
</section>
