<div class="issues-modal">
	<!-- <div class="close-modal glyphicon glyphicon-remove" ng-click="$close()">
	</div> -->
  <div class="modal-header">
      <h4 class="modal-title">
        Information about your privacy
			</h4>
  </div>
	<div class="modal-body" stop-event="touchend">
    <p>Your privacy is very important to us. We use your address to find information about your building and landlord as well as to refer you to local organizations. We use data from the following New York City and State agencies: HPD, DHCR, DOF, DOB, and DCP.</p>
    <p>All JustFix.nyc data is kept private and internal - we will never publish or sell your information to a third-party. JustFix.nyc is a registered 501(c)(3) non-profit organization and does not collect revenue from advertising or any other user-geneterated content.</p>
    <p>If you have any further questions, please <a ui-sref="contact" target="_blank">Contact Us</a>.</p>
	</div>
	<div class="modal-footer">
		<span class="btn btn-primary btn-block" ng-click="$close()">Got it!</span>
	</div>

</div>
