<div class="issues-modal">
	<div class="close-modal glyphicon glyphicon-remove" ng-click="$close()">
	</div>
  <div class="modal-header">
      <h4 class="modal-title">
        Information about your privacy
			</h4>
  </div>
	<div class="modal-body" stop-event="touchend">
    <p>Duis cupidatat nisi quis Lorem culpa labore aliquip exercitation eiusmod aliquip sint laboris aliqua eu ipsum. Do cupidatat esse aliqua non excepteur occaecat ut sit aliqua nostrud quis deserunt consectetur nulla do commodo. Cupidatat nisi duis deserunt cupidatat nulla commodo ullamco laborum occaecat in anim commodo sint ad.</p>
    <p>Excepteur culpa in Lorem id occaecat anim adipisicing mollit ex sit qui deserunt consectetur laboris. Nisi excepteur eu reprehenderit voluptate voluptate nostrud enim consequat deserunt elit sunt.</p>
	</div>
	<div class="modal-footer">
		<span class="btn btn-primary btn-block" ng-click="$close()">Got it!</span>
	</div>

</div>
