
<section class="onboarding-tutorial container-fluid">
	<div class="alert alert-success">
		<div class="alert-inner container">
			<span class="success-check glyphicon glyphicon-ok"></span>   ACCOUNT CREATED!
		</div>
	</div>
	<div class="body-wrap">
		<div class="header">
			<h4>Now you can use your account to:</h4>
		</div>
		<div class="walkthrough take-action">
			<div class="icon">
				<span class="glyphicon glyphicon-envelope"></span>
			</div>
			<h4>Take Action</h4>
			<p> Use the list of recommended actions to help build your case!</p>
		</div>
		<div class="walkthrough gather-evidence">
			<div class="icon">
				<span class="glyphicon glyphicon-camera"></span>
			</div>
			<h4>Gather Evidence</h4>
			<p>Upload and store your photos, screenshots, and tracing numbers in one place!</p>
		</div>
		<div class="walkthrough share-story">
			<div class="icon">
				<span class="glyphicon glyphicon-envelope"></span>
			</div>
			<h4>Share Your Case</h4>
			<p>Share your case history with advocates, neighbors, or even print a copy to bring to court!</p>
		</div>
		<div ui-sref="home" class="btn btn-primary" ng-ref="">
			Got It!
		</div>
	</div>

</section>
