<div class="page-header">
  <small>Step 1 of 2</small>
  <h1>Issues Checklist</h1>
  <p>Please select all the issues that relate to your housing sitation - we’ll ask you for more details later on. Please note: you can come back to this list at any time.</p>
</div>
<problems-checklist></problems-checklist>
<div class="clearfix"></div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-4">
            <a ui-sref="onboarding.accessCode" class="btn btn-block btn-default"> <!-- @meegan -if landing on access code page with access code, defaults to access code -->
              Back
            </a>
        </div>
        <div class="col-xs-8">
            <a ui-sref="onboarding.details" class="btn btn-primary btn-block pull-right">
              Continue
            </a>
        </div>
    </div>
</div>
