
<div  ng-hide="referralSuccess == true">
	<h3>Welcome to<br/>JustFix.nyc!</h3>
	<p>Please enter the access code provided by your advocate so you can gain access to the website</p>
	<div class="error-text alert alert-danger" ng-show="majorError">Whoa, looks like we're having some trouble on our end. Please refresh this page and try again.</div>
	<form>
	  <div class="form-group">
	    <label class="control-label">Access Code</label>
	    <input class="form-control" type="text" placeholder="Starts with..." ng-model="newUser.accessCode" class="input-code">
	  </div>
	  <div class="form-group">
	    <input class="btn btn-primary input-submit" value="Get Started!" ng-click="validateCode()">
	  </div>
	</form>
	<div class="error-text alert alert-danger" ng-show="codeError">There was an error submitting this code. Please try again later!</div>
	<div class="error-text alert alert-warning" ng-show="codeWrong">This code does not match any code in our database, please double check that the code entered matches the code given.</div>
</div>

<div class="advocate" ng-show="referralSuccess == true">
	<h3>Your Building Advocate</h3>
	<p>Based on the access code you provided, we've connected you to the advocate working with your building. Their contact information will be stored in your account, so you can cannect with them at any time.</p>
	<p class="name">{{referral.name}}</p>
	<p class="org">{{referral.organization}}</p>
	<p class="phone">{{referral.phone}}</p>
	<p class="email">{{referral.email}}</p>
	<div class="form-group">
	    <div class="row">
	        <div class="col-xs-4">
	            <a class="btn btn-block btn-default"> <!-- @meegan - toggle referralsuccess, not sref -->
	            	Back
	            </a>
	        </div>
	        <div class="col-xs-8">
	            <a ui-sref="onboarding.problems" class="btn btn-primary btn-block pull-right">
	            	Continue
	            </a>
	        </div>
	    </div>
	</div>
</div>
