<!-- <div ng-if="accessCode.valid"> -->
	<div class="alert alert-major alert-success">
		<span class="success-check glyphicon glyphicon-ok"></span> SUCCESS!
	</div>
	<div class="page-header left">
		<h1>Your Building Advocate</h1>
	</div>
	<p>Based on the access code you provided, we've connected you to the advocate working with your building. Their contact information will be stored in your account, so you can cannect with them at any time.</p>
	<br />
	<p class="lead text-center"><b>
		{{ newUser.referral.name }}<br />
		{{ newUser.referral.organization }}<br />
		{{ newUser.referral.phone | tel }}<br />
		{{ newUser.referral.email }}
	</b></p>
	<div class="share-section">
		<h2>
			<span ng-if="!newUser.sharing.enabled">Share My Case:</span>
			<span ng-if="newUser.sharing.enabled">Sharing (on):</span>
			<label class="toggle pull-right">
				<input type="checkbox" ng-model="newUser.sharing.enabled">
				<span class="handle"></span>
			</label>
		</h2>

		<div class="alert alert-warning" ng-if="!newUser.sharing.enabled">
			This allows your advocate to view the evidence you upload to the site. It doesn't allow them to view every details or your personal information, and you can disable it anytime by going to your Case History page.
		</div>

	</div>

	<div class="form-group">
	    <div class="row">
	        <div class="col-xs-4">
	            <a ng-click="cancelAccessCode()" class="btn btn-block btn-default">
	            	Back
	            </a>
	        </div>
	        <div class="col-xs-8">
	            <a ui-sref="onboarding.problems" class="btn btn-primary btn-block pull-right">
	            	Continue
	            </a>
	        </div>
	    </div>
	</div>
<!-- </div> -->
