
	<div class="alert alert-major alert-success">
		<span class="success-check glyphicon glyphicon-ok"></span> SUCCESS!
	</div>
	<div class="page-header left">
		<h1>Your Building Advocate</h1>
		<p>We've connected you to the advocate working with your building! Their contact information will be stored in your account, so you can connect with them at any time.</p>
	</div>
	<h2 class="text-center">
		{{ ::newUser.referral.name }}<br />
		{{ ::newUser.referral.organization }}<br />
		{{ ::newUser.referral.phone | tel }}<br />
		{{ ::newUser.referral.email }}
	</h2>
	<div class="share-section">
		<h2>
			<span ng-if="!newUser.sharing.enabled">Share My Case:</span>
			<span ng-if="newUser.sharing.enabled">Sharing (on):</span>
			<label class="toggle pull-right" toggle-sharing>
				<input type="checkbox">
				<span class="handle"></span>
			</label>
		</h2>

		<div class="alert alert-fade" ng-class="newUser.sharing.enabled ? 'alert-success' : 'alert-warning'">
			This allows your advocate to view the evidence you upload to the site; it does not give access to the rest of your account. You can opt in later or disable at any time.
		</div>
	</div>
	<div class="form-group">
			<div class="row">
					<div class="col-xs-4">
							<a ng-click="cancelAccessCode()" class="btn btn-block btn-default pull-left">
								Back
							</a>
					</div>
					<div class="col-xs-8">
							<a ui-sref="onboarding.problems" class="btn btn-primary btn-block pull-right">
								Continue
							</a>
					</div>
			</div>
	</div>
