<div class="page-header">
  <h3>(Step 1 of 2)</h3>
  <h1>Issue Checklist</h1>
  <p>Please select all the issues that you are experiencing - we’ll ask you for more details later on. <b><em>You can update this list at any time.</em></b></p>
</div>
<div class="problems-container">
  <problems-checklist></problems-checklist>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-4">
            <a ui-sref="landing" class="btn btn-block btn-default">
              Back
            </a>
        </div>
        <div class="col-xs-8">
            <a ui-sref="onboarding.details" class="btn btn-primary btn-block pull-right">
              <span ng-if="newUser.problems.length">Continue</span>
              <span ng-if="!newUser.problems.length">Skip For Now</span>
            </a>
        </div>
    </div>
</div>
