<div class="page-header">
  <img src="/modules/core/img/brand/icon_only.svg" alt="JustFix.nyc" />
  <h1 ng-bind-html="'modules.onboarding.partials.onboardingCode.title' | trustTranslate" compile-template></h1>
</div>

<p>
  <span>{{'modules.onboarding.partials.onboardingCode.enterText' | translate}}</span>. <span>{{'modules.onboarding.partials.onboardingReferral.sentBy' | translate}}</span>
</p>
<div>
  <h2 class="text-center">
    {{ referral.name }}<br />
    {{ referral.organization }}<br />
    {{ referral.contactPhone + (referral.contactPhoneExt ? (',' + referral.contactPhoneExt) : '') | tel }}<br />
    {{ referral.email }}
  </h2>
</div>
<p ng-bind-html="'modules.onboarding.partials.onboardingReferral.additionalInfo' | trustTranslate" compile-template></p>
<br />
<button class="btn btn-primary btn-block" ui-sref="onboarding.problems" go-to-top>{{'modules.onboarding.partials.onboardingReferral.getStarted' | translate}}</button>
