<iframe ng-src="{{trustSrc(acuity)}}" width="100%" height="800" frameBorder="0"></iframe>
<p class="scheduler-done" ng-if="hasScheduled">
	<b>Thank you for scheduling a consultation with JustFix.nyc!</b> A trained advocate will call you at {{ user.phone | tel }} on the date and time listed above.
	<br />
	<br />
	Before your appointment, please upload photos and other details about your situation in the <b>Take Action</b> section. Your coach will review this information before your appointment.
	<a ui-sref="home" class="btn btn-primary btn-block-full scheduler-done-btn">Continue</a>
</p>
