<div class="list-group">
	<a href="#" class="list-group-item" process="started">
		<p class="list-group-item-text">"I've tried a few things, but nothing's been resolved."</p>
	</a>
	
	<a href="#" class="list-group-item" process="legal">
		<p class="list-group-item-text">"I'm being taken to court by my landlord, and I don't have legal representation."</p>
	</a>
	
	<a href="#" class="list-group-item" process="assisted">
		<p class="list-group-item-text">"I'm working with someone who's assisting me with my case."</p>
	</a>
	
	<a href="#" class="list-group-item" process="starting">
		<p class="list-group-item-text">"I'm just getting started"</p>
	</a>
</div>