<div class="page-header">
    <img src="/modules/core/img/sections/history.svg" alt="Case History" />
    <h1>{{ tenant.fullName }}</h1>
    <p class="text-center">{{ tenant.phone | tel }}</p>
    <p class="text-center">{{ tenant.address }}, {{ tenant.unit }}</p>
    <p class="text-center">{{ tenant.borough }}, NY {{ tenant.geo.zip }}</p>
</div>
<div class="row">
  <span ng-if="user.specialFlags && user.specialFlags.indexOf('surveyPartner') !== -1" class="center-block text-center">
    <div class="btn-group">
      <a ui-sref="manageTenant.problems({ id: tenant._id })" class="btn btn-primary">
        Issue Checklist
      </a>
      <a  ng-if="user.specialFlags && user.specialFlags.indexOf('surveyPartner') !== -1"
          ui-sref="advocateSurvey({ phone:'{{tenant.phone}}',
                                    firstname:'{{tenant.firstName}}',
                                    lastname:'{{tenant.lastName}}',
                                    address:'{{tenant.address}}',
                                    unit:'{{tenant.unit}}',
                                    id:'{{tenant._id}}',
                                    caselink:'https://beta.justfix.nyc/share/{{tenant.sharing.key}}'
                                  })"
          class="btn btn-info">New Survey Entry</a>
      <a ng-href="tel:{{ tenant.phone }}" class="btn btn-success btn-block pull-right" ng-if="!isDesktop">
          Call {{ tenant.firstName }}
      </a>
      <button class="btn btn-primary" ng-if="isDesktop" print-button user-id="tenant.sharing.key">
          {{'modules.activity.views.listActivity.print' | translate}}
      </button>
    </div>
  </span>
  <span ng-if="!user.specialFlags || user.specialFlags.indexOf('surveyPartner') === -1">
    <div class="col-xs-6">
      <a ui-sref="manageTenant.problems({ id: tenant._id })" class="btn btn-primary btn-block pull-left">
        Issue Checklist
      </a>
    </div>
    <div class="col-xs-6">
      <a ng-href="tel:{{ tenant.phone }}" class="btn btn-success btn-block pull-right" ng-if="!isDesktop">
          Call {{ tenant.firstName }}
      </a>
      <button class="btn btn-primary btn-block pull-right" ng-if="isDesktop" print-button user-id="tenant.sharing.key">
          {{'modules.activity.views.listActivity.print' | translate}}
      </button>
    </div>
  </span>
</div>
<add-details tenant="tenant"></add-details>
<alert
      data-ng-show="$root.dashboardSuccess"
      type="success"
      close="$root.dashboardSuccess = false">
  <span ng-bind-html="'modules.core.views.home.success' | trustTranslate" compile-template></span>
</alert>
<!-- <div class="section-header">
  <h2>{{'modules.activity.views.listActivityPublic.caseHistory' | translate}}
  </h2>
</div> -->
<div data-ng-if="tenant.activity.length">

  <div class="row">
    <tabset>
      <tab heading="Activity Log">
        <div data-ng-repeat="activity in tenant.activity | orderBy:'createdDate':true" class="panel activity-panel">
            <div class="panel-heading">
                <h3>{{ activity.title | translate }}</h3>
            </div>
            <div class="panel-body">
              <div ng-include="activityTemplate(activity.key)"></div>
              <div ng-include="'/modules/activity/partials/attribution.html'"></div>
            </div>
        </div>
      </tab>
      <tab heading="Current Issues">
        <div data-ng-repeat="problem in tenant.problems">
          <h2>{{ problem.title | translate }}</h2>
          <ul>
            <li data-ng-repeat="issue in problem.issues">{{ issue.key | translate }}</li>
          </ul>
        </div>
      </tab>
      <tab>
        <tab-heading>
          Photos ({{photos.length}})
        </tab-heading>
        <div ng-if="photos.length">
          <div class="photos-grid">
            <div data-ng-repeat="photo in photos" class="photos-grid-item">
                <a ng-click="openLightboxModal(photos, $index)">
                    <img ng-src="{{ photo.thumb }}" class="img-thumbnail" />
                </a>
            </div>
          </div>
        </div>
        <div ng-if="!photos.length" class="text-center">
          <br />
          <i>No photos have been uploaded yet!</i>
          <br />
          <br />
        </div>

      </tab>
    </tabset>
  </div>
</div>
<div class="alert alert-warning text-center" data-ng-if="!tenant.activity.length">
  {{ tenant.fullName }} {{'modules.activity.views.listActivityPublic.empty' | translate}}
</div>
