<div class="row">
  <div class="col-xs-6">
    <a ui-sref="manageTenant.problems({ id: tenant._id })" class="btn btn-primary btn-block pull-left">
      Issue Checklist
    </a>
  </div>
  <div class="col-xs-6">
    <a ng-href="tel:{{ tenant.phone }}" class="btn btn-success btn-block pull-right" ng-if="!isDesktop">
        Call {{ tenant.firstName }}
    </a>
    <button class="btn btn-primary btn-block pull-right" ng-if="isDesktop" print-button>
        {{'modules.activity.views.listActivity.print' | translate}}
    </button>
  </div>
</div>
<add-details tenant="tenant"></add-details>
<div class="section-header">
  <h2>{{'modules.activity.views.listActivityPublic.caseHistory' | translate}}
  </h2>
</div>
<div data-ng-if="tenant.activity.length">
    <div data-ng-repeat="activity in tenant.activity | orderBy:'createdDate':true" class="panel activity-panel">
        <div class="panel-heading">
            <h3>{{ activity.title | translate }}</h3>
        </div>
        <div class="panel-body">

          <div ng-include="activityTemplate(activity.key)"></div>
            <span class="pull-right activity-logged-date"><i>{{'modules.activity.views.listActivityPublic.loggedOn' | translate}} {{ activity.createdDate | date:'short' }}</i></span>

        </div>
    </div>
</div>
<div class="alert alert-warning text-center" data-ng-if="!tenant.activity.length">
  {{ tenant.fullName }} {{'modules.activity.views.listActivityPublic.empty' | translate}}
</div>
