<div class="row">
  <div class="col-xs-6">
    <a ui-sref="manageTenant.problems({ id: tenant._id })" class="btn btn-primary btn-block pull-left">
      Issue Checklist
    </a>
  </div>
  <div class="col-xs-6">
    <a ng-href="tel:{{ tenant.phone }}" class="btn btn-success btn-block pull-right" ng-if="!isDesktop">
        Call {{ tenant.firstName }}
    </a>
    <button class="btn btn-primary btn-block pull-right" ng-if="isDesktop" print-button>
        {{'modules.activity.views.listActivity.print' | translate}}
    </button>
  </div>
</div>
<add-details tenant="tenant"></add-details>
<div class="section-header">
  <h2>{{'modules.activity.views.listActivityPublic.caseHistory' | translate}}
  </h2>
</div>
<div data-ng-if="tenant.activity.length">

  <tabset justified="true">
    <tab heading="Activity Log">
      <div data-ng-repeat="activity in tenant.activity | orderBy:'createdDate':true" class="panel activity-panel">
          <div class="panel-heading">
              <h3>{{ activity.title | translate }}</h3>
          </div>
          <div class="panel-body">
            <div ng-include="activityTemplate(activity.key)"></div>
            <span class="pull-right activity-logged-date"><i>
              <span ng-if="activity.loggedBy">
                {{'modules.activity.views.listActivity.loggedOn' | translate}} {{ activity.loggedBy }} {{'modules.activity.views.listActivity.loggedOnAttrib' | translate}}
              </span>

              {{ activity.createdDate | date:'short' }}
            </i></span>          </div>
      </div>
    </tab>
    <tab heading="Current Issues">
      <div data-ng-repeat="problem in tenant.problems">
        <h3>{{ problem.title | translate }}</h3>
        <ul>
          <li data-ng-repeat="issue in problem.issues">{{ issue.key | translate }}</li>
        </ul>
      </div>
    </tab>
    <tab heading="Photos">
      <div class="photos-grid">
        <div data-ng-repeat="photo in photos" class="photos-grid-item">
            <a ng-click="openLightboxModal(photos, $index)">
                <img ng-src="{{ photo.thumb }}" class="img-thumbnail" />
            </a>
        </div>
      </div>
    </tab>
  </tabset>



</div>
<div class="alert alert-warning text-center" data-ng-if="!tenant.activity.length">
  {{ tenant.fullName }} {{'modules.activity.views.listActivityPublic.empty' | translate}}
</div>
