<div class="page-header">
	<img src="/modules/core/img/brand/icon_only.svg" alt="JustFix.nyc" />
	<h1>Welcome to the JustFix.nyc Advocate Dashboard!</h1>

</div>

	<p>
		This dashboard helps you track and keep records of tenants you are working with. It will help you keep information organized and streamline the case building process.
	</p>

	<p>
		<b>With this dashboard you can:</b>
		<ul>
			<li>View cases of JustFix.nyc users who have shared their account with you</li>
			<li>Create cases on behalf of tenants who are unable to create accounts for themselves</li>
			<li>View building cases or individual cases</li>
		</ul>
		First, let’s create your Advocate account.
	</p>
	<br />
	<button class="btn btn-primary btn-block" ui-sref="advocateSignup.details" go-to-top>Get Started!</button>
