<div class="page-header">
	<img src="/modules/core/img/brand/icon_only.svg" alt="JustFix.nyc" />
	<h1>Welcome to the JustFix.nyc Advocate Dashboard!</h1>
	<p>Consectetur officia aute dolor nostrud reprehenderit et non culpa laborum cupidatat incididunt. Amet qui consectetur elit ipsum adipisicing elit ut quis ut esse ad incididunt labore voluptate. Fugiat cillum eiusmod consequat sint nisi magna laboris. Sit eiusmod officia magna amet laborum anim sit ea amet adipisicing culpa minim fugiat sit. Anim officia amet ipsum qui officia deserunt consectetur commodo sit in. Mollit labore ad aute veniam veniam excepteur cupidatat laboris laboris ex sint commodo irure. Velit elit nulla ut velit aute duis nostrud consectetur enim irure consectetur incididunt.</p>
</div>

	<button class="btn btn-primary btn-block" ui-sref="advocateSignup.details" go-to-top>Get Started!</button>
</div>
