<div class="tutorial-intro">
	<div class="alert alert-major alert-success">
		<span class="success-check glyphicon glyphicon-ok"></span> ACCOUNT CREATED!
	</div>
	<div class="page-header">
		<div class="center icon logo ">
			<img src="/modules/tutorial/img/icon_only.svg">
		</div>
		<h1 class="no-margin-bottom">Your JustFix.nyc account will help you gather evidence and take action toward resolving your housing issues.</h1>
		<h1> Here's how it works...</h1>
		<a ui-sref="tutorial.main">
			<div class="btn btn-block btn-primary">Take the Tour</div>
		</a>
	</div>
</div>