<div class="tutorial-intro">
	<div class="alert alert-major alert-success">
		<span class="success-check glyphicon glyphicon-ok"></span> {{::'modules.tutorial.partials.intro.banner' | translate}}
	</div>
	<div class="page-header">
		<div class="center icon logo ">
			<img src="/modules/tutorial/img/icon_only.svg">
		</div>
		<h1 class="no-margin-bottom">{{::'modules.tutorial.partials.intro.introOne' | translate}}</h1>
		<h1>{{::'modules.tutorial.partials.intro.introTwo' | translate}}</h1>
		<a ui-sref="tutorial.main">
			<div class="btn btn-block btn-primary">{{::'modules.tutorial.partials.intro.button' | translate}}</div>
		</a>
	</div>
</div>